@import 'node_modules/bootstrap/dist/css/bootstrap';
@import 'node_modules/magnific-popup/dist/magnific-popup';
@import 'node_modules/reset.css/reset';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '_fonts';

/**********************
    **********************
        VARIABLES
    **********************
**********************/
$black: oklch(0% 0 0);
$white: oklch(100% 0 0);

$title: oklch(26.49% 0.049 260.67);
$title_card: oklch(51.73% 0 0);
$text: oklch(33.68% 0 0);
$accordion_text: oklch(62.01% 0 0);
$sub_text: oklch(33.68% 0 0);

$bg: oklch(97.91% 0 0);
$main: linear-gradient(139.81deg, oklch(63.64% 0.127 277.55) 22.434%, oklch(73.43% 0.123 223.99) 113.926%);
$title_bg: oklch(9.69% 0 0 / 11%);

$main: oklch(21.61% 0.1006 265.27);
$second_main: oklch(65.41% 0.12 264.97);
$submit_btn_bg: oklch(88.53% 0 0);
$btn_passive: oklch(66.33% 0 0);

$font_Mt: 'Montserrat', sans-serif;
$font_Ir: 'Inter', sans-serif;
$font_Al: 'ALS Hauss', sans-serif;

$global_font_size: 16;

/* TEST */
$olive: oklch(52.53% 0.052 113.5);
$olive_light: oklch(59.88% 0.023 119.23);
$olive_gradient: linear-gradient(139.81deg, oklch(52.53% 0.052 113.5) 22.434%, oklch(73.43% 0.123 223.99) 113.926%);

/**********************
    **********************
        FUNCTIONS
    **********************
**********************/
/* Put the value in px but without writing px at the end */
@function pxrem($value) {
    @return calc($value / $global_font_size)+rem;
}

/**********************
    **********************
        MIXINS
    **********************
**********************/
/* Put it in pixels, it converts them to rem */
@mixin fontIr($font_size, $font_weight, $line_height, $font_color) {
    font-family: $font_Ir;
    font-size: pxrem($font_size);
    font-weight: $font_weight;
    line-height: pxrem($line-height);
    color: $font_color;
}

@mixin fontMt($font_size, $font_weight, $line_height, $font_color) {
    font-family: $font_Mt;
    font-size: pxrem($font-size);
    font-weight: $font_weight;
    line-height: pxrem($line-height);
    color: $font_color;
}

@mixin fontAl($font_size, $font_weight, $line_height, $font_color) {
    font-family: $font_Al;
    font-size: pxrem($font-size);
    font-weight: $font_weight;
    line-height: pxrem($line-height);
    color: $font_color;
}


@mixin pseudo($url, $width, $height) {
    content: '';
    position: absolute;
    background-image: $url;
    background-size: contain;
    background-repeat: no-repeat;
    width: pxrem($width);
    height: pxrem($height);
}


@mixin pseudoItem($width, $height, $bgc) {
    content: '';
    position: absolute;
    width: pxrem($width);
    height: pxrem($height);
    background: $bgc;
}

@mixin maskImage($size) {
    mask-repeat: no-repeat;
    mask-size: $size;
    mask-position: top center;
    mask-image: url("../images/oval.svg");
}


/**********************
    **********************
        **********************
            **********************
                TEMPLATES
            **********************
        **********************
    **********************
**********************/
/* BTN */
%btn {
    @include fontIr(16, 600, 25, $main);
    border: 1px solid $main;
    border-radius: 5px;
    padding: 0;

    transition: color 0.4s, border-color 0.5s;

    display: inline-block;

    overflow: hidden;
    z-index: 0;

    position: relative;

    &::after {
        @include pseudo(url('../images/arrows-tail.png'), 19.8, 17.5);
        right: pxrem(17.15);
        top: 50%;
        transform: translateY(-50%);
        background-size: cover;
        background-position: 0 pxrem(-17.6);
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 300px;
        background-color: $main;
        border-color: transparent;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        opacity: 0;
        z-index: -1;
        transition: transform 0.5s, opacity 0.3s, background-color 0.5s;
    }

    &:hover::before {
        opacity: 1;
        transform-origin: center;
        transform: translate(-50%, -50%) scale(1);
    }

    &:hover:after {
        background-position: 0 .1rem;
    }

    &:hover {
        color: $white;
        border: 1px solid transparent;

        transition: color .5s, border-color .5s;
    }
}

.btn {
    @extend %btn;
}

%btn_primary {
    @include fontIr(16, 600, 25, $white);
    border: 1px solid $white;
    border-radius: 5px;
    padding: 0;

    transition: color 0.4s, border-color 0.5s;

    display: inline-block;

    overflow: hidden;
    position: relative;
    z-index: 0;

    &::after {
        @include pseudo(url('../images/arrow-tail-white.svg'), 19.8, 17.5);
        right: 1.07185rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 300px;
        background-color: $white;
        border-color: transparent;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        opacity: 0;
        z-index: -1;
        transition: transform 0.5s, opacity 0.3s, background-color 0.5s;
    }

    &:hover::before {
        opacity: 1;
        transform-origin: center;
        transform: translate(-50%, -50%) scale(1);
    }

    &:hover:after {
        background-image: url('../images/arrow-tail-blue.svg');
    }

    &:hover {
        color: $main;
        border-color: $main;

        transition: color .5s border-color .5s;
    }
}

.btn__primary {
    @extend %btn_primary;
}

/* TITLE */
%titleH2 {
    @include fontAl(35, 700, 40, $title);
    text-transform: uppercase;
}

h2 {
    @extend %titleH2;
}

/* BLUR BACKGROUND */
%blur {
    @include pseudoItem(0, 0, oklch(98.38% 0.007935771087350203 286.25295319390017 / 32%));
    max-width: 19.5rem;
    width: 100%;
    height: 10.1875rem;
    z-index: -1;

    filter: blur(40px);
}

/* CIRCLE */
%circle {
    @include pseudoItem(118, 123, $main);
    border-radius: 50%;
}

/**********************
    **********************
        GLOBAl STYLES
    **********************
**********************/
html {
    overflow-x: hidden;
    font-size: $global_font_size + px;
    background: #000;

    &.open {
        overflow: hidden;
    }
}

::-moz-selection {}

::selection {}

body {
    @include fontIr(17, 400, 25, $white);
    background: $bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;

    /*  background: #000; */
}

.header.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.row {
    row-gap: 1rem;
}

.section__header {
    padding: 1.5625rem 0;
    padding-bottom: 4rem;
    position: relative;
    z-index: 0;

    &-text {
        margin-bottom: 0.9375rem;
        @include fontIr(14, 500, 25, $title_card);
    }

    &::after {
        @extend %circle;

        top: 2.25rem;
        right: -1.5rem;
        width: 3rem;
        height: 3rem;

        z-index: -1;
    }
}

.logo {
    display: flex;
}

a {
    text-decoration: none;
    color: $white;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}

p {
    @include fontIr(17, 500, 30, $text);
}

strong {
    @include fontIr(17, 600, 26, $title);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

label {
    display: flex;
    flex-direction: column;
    /* text-transform: uppercase; */

    input,
    textarea {
        border: none;
        background: transparent;
        outline: none;
        border-bottom: 1px solid $white;

        @include fontMt(18, 400, 23, $white);
    }

    textarea {
        height: 5rem;
    }
}

.tab-links {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    .tab-link {
        color: oklch(21.61% 0.1006 265.27);
        background: oklch(100% 0 0);
        border-radius: 30px;
        padding: 10px 20px;
        opacity: .5;

        &.active {
            opacity: 1;
        }
    }
}

.tab-content {
    display: none;

    &.active {
        display: block;
    }
}


.hidden {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: 1s all;

    &.show {
        transform: translate(0);
        opacity: 1;
        filter: blur(0px);
    }
}


.burger__btn {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3125rem;
    width: 1.875rem;
    height: 1.7375rem;
    cursor: pointer;

    & span {
        display: block;
        width: 100%;
        height: 0.1875rem;
        background: $white;
        border-radius: 30px;

        &:nth-child(1) {
            width: 70%;
        }

        &:nth-child(2) {
            width: 100%;
        }

        &:nth-child(3) {
            width: 50%;
        }
    }
}

.close {
    display: none;
}

.accardion-content {
    overflow: hidden;
    transition: .4s all;

    display: grid;
    grid-template-rows: 0fr;

    &>&-inner {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;

        padding-left: 1.4375rem;
        padding-right: 5.5625rem;

        transition: .4s all;
    }
}

.accordion-active+.accardion-content {
    transition: .4s all;

    grid-template-rows: 1fr;
}

.accardion-btn {
    position: relative;

    &::after {
        @include pseudo(url('../images/arrow.svg'), 12, 20);
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%) rotate(270deg);

        transition: .4s all;

    }

    &.accordion-active {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        transition: .1s all;

        &::after {
            transform: translateY(-50%) rotate(90deg);
        }

        &+.accardion-content>.accardion-content-inner {
            visibility: visible;
            padding-bottom: 1.1875rem;
            opacity: 1;
        }
    }
}

.material-bubble {
    background-color: transparent;
    /*  color: darken($darkblue, 10%); */
    border: none;
    overflow: hidden;
    box-shadow: none;

    &:hover {
        /*  color: $offwhite; */
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        /*  background-color: lighten($darkblue, 10%); */
        border-color: transparent;
        border-radius: 50%;
        transform: translate(-10px, -70px) scale(0.1);
        opacity: 0;
        z-index: -1;
        transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    }

    &:hover::after {
        opacity: 1;
        transform-origin: 100px 100px;
        transform: scale(1) translate(-10px, -70px);
    }
}

.bouncing-blob {
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform-origin: left top;
}

.bouncing-blob--blue {
    background: $main;
}

.bouncing-blob--white {
    background: #ffffff;
    z-index: 2;
    width: 15vw;
}

.bouncing-blob--purple {
    background: $main;
}

.bouncing-blob--pink {
    background: $main;
}

.bouncing-blobs-container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bouncing-blobs-glass {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(140px);
    -webkit-backdrop-filter: blur(140px);
    pointer-events: none;
}

.bouncing-blobs {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    .bouncing-blobs-glass {
        backdrop-filter: blur(120px);
        -webkit-backdrop-filter: blur(120px);
    }
}

@media (max-width: 500px) {
    .bouncing-blob {
        width: 60vw;
    }

    .bouncing-blob--white {
        width: 30vw;
    }

    .bouncing-blobs-glass {
        backdrop-filter: blur(90px);
        -webkit-backdrop-filter: blur(90px);
    }
}


.circle__btn:hover .circle__inner {
    width: 100%;
    left: -30px;
    top: -5px;
    background-color: #2e5cdd;
}

.circle__btn:hover span {
    clip-path: circle(200px at 10px 50%) !important;
    clip-path: circle(200px at 10px calc(50% + 0px)) !important;
    transition: .6s ease-in-out;
}

.circle__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 200px;
    text-decoration: none !important;
    z-index: 20
}

.circle__btn,
.circle__inner {
    content: "";
    height: 80px;
}

.circle__inner {
    width: 80px;
    background-color: #4961ff;
    border-radius: 40px;
    box-shadow: 0 2px 30px rgba(62, 174, 255, .3);
    pointer-events: none;
    transition: width .6s, left .3s, top .3s, background-color .4s;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
}

.circle__btn span {
    transform: translateX(24px);
    clip-path: circle(40px at 16px 50%);
    clip-path: circle(40px at 16px calc(50% + 0px))
}

.circle__btn::before,
.circle__btn span {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    font-family: Gilroy
}

.circle__btn::before {
    content: ''
        /* 'Связаться с нами' */
    ;
    position: absolute;
    z-index: 1px;
    display: block;
    transition: opacity .1s;
    width: 100%;
    top: 28px;
    left: 24px;
    opacity: .4;
    text-align: left
}

.circle__btn.second::before {
    content: ''
        /* 'О нас' */
    ;
}

.circle__btn.third {}

.circle__btn.third::before {
    content: ''
        /* 'Подробнее' */
    ;
    color: $title;
}

.primary-button {
    position: relative;
    overflow: hidden;
    z-index: 0;

    transition: color .4s;
}

.primary-button:hover {
    cursor: pointer;
    border-color: $main;
    color: $white;


    transition: color .4s;
}

.primary-button .round {
    border-radius: 50%;
    background-color: $main;
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: -1;
    animation: scale-down 0.2s forwards;
}

.primary-button.animate .round {
    animation: scale-up 1s forwards;
}

@keyframes scale-up {
    to {
        transform: scale(600);
    }
}

@keyframes scale-down {
    from {
        transform: scale(600);
    }

    to {
        ransform: scale(0);
    }
}

.footer {
    margin-top: auto;
    padding-top: 3.125rem;
}


/* KEYFRAMES */
@keyframes blurAnimationUpAndDown {
    0% {
        margin-top: 0rem;
        margin-right: 0rem;
    }

    50% {
        margin-top: 2rem;
        margin-right: 3.5rem;
    }

    100% {
        margin-top: 0rem;
        margin-right: 0rem;
    }
}

/**********************
    **********************
       MENU
    **********************
**********************/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    &.secondary {
        position: relative;
        left: unset;
        top: unset;
        right: unset;
        bottom: unset;
        background: $main;
        z-index: 1;

        .menu__list-link {
            padding: 1.625rem 0;
        }

        .menu__list-item:has(ul)>ul {
            margin-top: -.5rem;
        }

        .menu__list-item:has(ul)>.menu__list-link {
            padding-right: 1.25rem;
        }

        .menu__list-item:has(ul)>.menu__list-link::after {
            transform: translateY(-50%);
        }

        .menu__list-item:has(ul):hover>.menu__list-link::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 1.625rem; */

    &__list {
        display: flex;
        gap: 2.03125rem;
    }

    &__list-item {
        position: relative;

        &:hover {
            >ul {
                opacity: 1;
                visibility: visible;
                padding-top: 1.5rem
            }

            >.menu__list-link::after {
                transform: translateY(-50%) rotate(180deg);
                transition: transform .4s;
            }
        }
    }

    &__list-link {
        @include fontMt(16, 400, 25, $white);
        display: inline-block;
        padding: 1.5rem 0 1.5rem;

        position: relative;
        padding-right: 1.25rem;
    }

    &__list-item:has(ul) {

        .menu__list-link::after {
            @include pseudo(url('../images/arrow.svg'), 11, 5);
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .4s;
        }

        /* SECOND LEVEL OF MENU */
        >ul {

            opacity: 0;
            visibility: hidden;
            transition: .4s all;

            position: absolute;
            /*  left: 50%;
            transform: translateX(-25%); */

            @include fontMt(16, 400, 25, $white);

            display: flex;
            flex-direction: column;
            gap: .5rem;

            background: $main;
            border-radius: 20px;
            width: 11.25rem;
            padding: 1rem 1rem;

            box-shadow: 8px 8px 24px -12px rgba(66, 68, 90, 1);

            /* MENU'S ITEM */
            >li {
                transition: padding-left .4s;

                /* MENU'S LINK */
                a {
                    display: inline-block;
                    transition: padding-left .4s;
                }

                a:hover {
                    padding-left: .2rem;
                }
            }
        }
    }
}

.lan {
    >li {
        position: relative;
    }

    &__link {
        @include fontMt(16, 400, 25, $main);
        position: relative;

        background: $white;
        border-radius: 20px;

        padding: 0.3125rem 0.75rem;
        padding-right: 2.3125rem;
        transition: .4s all;

        &::after {
            @include pseudo(url('../images/arrow-blue.svg'), 15.2, 8);
            top: 50%;
            right: 0.7969rem;
            transform: translateY(-50%);
            transition: .4s all;
        }
    }

    &__inner {
        position: absolute;
        left: 0;

        display: flex;
        flex-direction: column;

        padding: .5rem 1rem;
        background: $white;

        width: 100%;

        overflow: hidden;

        transform: scaleY(0);
        transition: .4s all;
        transform-origin: top;

        opacity: 0;

        >li>a {
            @include fontMt(16, 400, 25, $main);
        }
    }


    &.active {
        .lan__link {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            border-bottom: 1px solid $black;
            transition: .4s all;

            &::after {
                transform: translateY(-50%) rotate(180deg);
                transition: .4s all;
            }
        }

        .lan__inner {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            transition: .4s all;
            transform: scaleY(1);
            opacity: 1;
        }
    }
}

/**********************
    **********************
       HERO
    **********************
**********************/
:root {
    --X: 0;
    --Y: 0;
}

.hero {
    background: $main;
    padding-top: 7.5rem;
    height: 100dvh;
    position: relative;

    z-index: 0;

    &::after {
        @extend %blur;

        transform: translate(var(--X), var(--Y));

        bottom: 5rem;
        right: 45%;
        top: unset;
        filter: blur(80px);
        z-index: 1;
    }

    .container {
        height: 100%;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        gap: 1.25rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1.5625rem;
        align-items: flex-start;
    }

    &__title {
        @include fontAl(42.6, 700, 54.6, $white);
        max-width: 27.075rem;
        text-transform: uppercase;

        z-index: 0;
        position: relative;

        &::before {
            @extend %blur;
            left: 0;
            top: 75%;
            transform: translateY(-50%);

            transform: translate(var(--X), calc(-50% + var(--Y)));

            filter: blur(80px);
        }
    }

    .btn__primary {
        padding: 0.875rem 3.6875rem 0.875rem 1.3125rem;
    }

    &__image {
        align-self: center;
        width: 26.0375rem;
        height: 48.0375rem;
        margin-top: -9rem;

        transform: translate(var(--X), var(--Y));

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__about {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;

        margin-bottom: 3.75rem;
        position: relative;
        z-index: 2;

        p {
            max-width: 18.8125rem;
            @include fontIr(18, 400, 28.2, $white);
        }

        .btn__primary {
            padding: 0.875rem 6.0875rem 0.875rem 1.3125rem;
        }
    }


    /* ANIMATIONS */

    .hero__info {}

    .hero__image.hidden {
        opacity: 0;
        transform: translateY(30%);
        filter: blur(5px);
        transition: 1s all;

        &.show {
            transform: translate(0);
            opacity: 1;
            filter: blur(0px);
        }
    }

    .hero__about.hidden {
        opacity: 0;
        transform: translateX(30%);
        filter: blur(5px);
        transition: 1s all;

        &.show {
            transform: translate(0);
            opacity: 1;
            filter: blur(0px);
        }
    }
}

/**********************
    **********************
       ABOUT
    **********************
**********************/

.about {
    padding-top: 4.8125rem;
    padding-bottom: 5rem;
    /* background-image: url('../images/bg.jpg'); */
    background-size: contain;
    background-position: top left;

    position: relative;
    z-index: 0;


    &::before {
        @extend %circle;
        width: 23.375rem;
        height: 24.375rem;
        left: calc(-23.375 / 2) + rem;
        bottom: 2rem;
        z-index: -1;
        background: $main;
    }

    &::after {
        @extend %circle;
        width: 7.375rem;
        height: 7.6875rem;
        bottom: -4rem;
        right: -4rem;
        z-index: -1;
        background: $main;
    }

    h2 {
        text-align: center;
        max-width: 62.375rem;
        margin: 0 auto;
        margin-bottom: 4.75rem;
    }

    &__img {
        max-width: 27.5rem;
        height: 100%;

        position: relative;

        @include maskImage(85%);

        img {
            height: 100%;
            border-radius: 10px;
        }

        &::before {
            @extend %circle;
            width: 2.875rem;
            height: 3rem;
            right: -3.8125rem;
            z-index: -1;
            top: -3rem;
            background: $main;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.75rem;
        height: 100%;
    }

    p {
        @include fontIr(16, 500, 25, $text);
        /* max-width: 447px; */
    }

    .btn {
        padding: 0.625rem 4.8125rem 0.625rem 1.125rem;
    }


    /* ANIMATION */

    h2.hidden {
        transform: translateY(-100%);

        &.show {
            transform: translate(0);
        }
    }

    .about__item.hidden {

        transform: translateX(30%);

        &.show {
            transform: translate(0);
        }
    }
}

/**********************
    **********************
       COMPETITION
    **********************
**********************/
.competition {
    background: $main;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;

    padding-top: 4.1875rem;
    padding-bottom: 5.375rem;

    &::before {
        @include pseudo(url('../images/main-logo.svg'), 0, 0);
        width: 26%;
        height: 35%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: .2;
    }


    h2 {
        color: $white;
        margin-bottom: 2.9375rem;
    }

    h2.hidden {
        transform: translateY(100%);

        &.show {
            transform: translate(0);
        }
    }

    p {
        @include fontIr(17, 400, 25, $white);
    }

    .col-lg-6 {
        img {
            max-width: 32.5rem;
            width: 100%;
            height: 21.5rem;
            border-radius: 10px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        column-gap: 1.25rem;
    }

    .row {
        margin-bottom: 4.6875rem;

        img {
            display: block;
            margin-left: auto;
        }

        .col-lg-6.hidden:last-child {
            transform: translate(50%);
        }

        .col-lg-6.hidden.show:last-child {
            transform: translate(0);
        }
    }

    .row:nth-child(even) {
        .background__title {
            padding: 1.4375rem 5rem 0.875rem 1.4375rem;

            &::before {
                left: 0;
            }
        }

        img {
            display: block;
            margin-left: unset;
            margin-right: auto;
        }
    }

    .row:last-child {
        margin-bottom: 0;
    }

    .row {
        &:nth-child(1) {
            position: relative;
            z-index: 0;

            &::before {
                @extend %blur;

                z-index: -1;
                bottom: -7.5rem;
                left: -24rem;
                filter: blur(110px);
            }
        }

        &:nth-child(2) {
            position: relative;
            z-index: 0;

            &::before {
                @extend %blur;

                z-index: -1;
                right: -18rem;
                bottom: -3rem;
                filter: blur(110px);
            }
        }

        &:nth-child(3) {
            position: relative;
            z-index: 0;

            &::before {
                @extend %blur;

                z-index: -1;
                bottom: 0;
                left: -8rem;
                filter: blur(110px)
            }
        }
    }
}

.background__title {
    @include fontIr(22, 500, 27, $white);
    /*  background: $title_bg; */
    padding: 1.4375rem 0.875rem 1.4375rem 0rem;
    text-transform: uppercase;
    margin-bottom: 1.6875rem;

    z-index: 0;
    position: relative;

    &::before {
        @include pseudoItem(0, 0, $title_bg);

        width: 1000%;
        height: 100%;
        left: -900%;
        top: 0;
        z-index: -1;
    }
}

/**********************
    **********************
       SUBORDINATE
    **********************
**********************/
.subordinate {
    padding-top: 3.9375rem;
    /* background-image: url('../images/bg-web-circle-image.png'); */
    background-size: contain;

    h2 {
        max-width: 40.25rem;

        &:not(.news__link) {
            margin-bottom: 1.875rem;
        }
    }

    &__links {
        display: flex;
        justify-content: space-evenly;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16.063rem;
            height: 16.063rem;
            border-radius: 50%;
            background: oklch(93.1% 0 0);
            transition: scale .4s transform 1s;

            &:hover {
                scale: 1.05;
                transition: scale .4s transform 1s;
            }

            &.hidden:nth-child(odd) {
                transform: translateY(-100%);
            }

            &.hidden.show {
                transform: translate(0);
            }

            &.hidden:nth-child(even) {
                transform: translateY(100%);
            }

            &.hidden.show {
                transform: translate(0);
            }

            img {
                width: 90%;
                object-fit: contain;
                aspect-ratio: 2/1;
            }
        }
    }
}

/**********************
    **********************
       NEWS
    **********************
**********************/

.saidbar-l.col-md-4 {
    display: none;
}

.news-child-title {
    h2 {
        margin: 1.25rem 0;
    }
}

.news-child-img {
    /*     max-height: 40rem;
    height: 100%;
    overflow: hidden; */
    margin-bottom: 1.25rem;

    div {
        width: 100%;
        height: 100%;
        display: flex;
    }

    div img {
        /*  height: 100%;
        @include maskImage(45%); */

        object-fit: contain;
        margin: 0 auto;
        width: 700px;
        height: 600px;
    }
}

.news-child-footer-meta {
    display: none;
}

.saidbar-r {
    padding-bottom: 100px;
}

.news {
    padding-bottom: 5.75rem;

    &__title {
        padding-top: 5.75rem;
        padding-bottom: 2.4375rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        position: relative;
        overflow: hidden;
        max-height: 26.8125rem;

        &:hover img {
            transform: scale(1.1);
            transition: transform .4s;
        }

        &::before {
            @include pseudoItem(0, 0, none);
            background-image: linear-gradient(0deg, rgba(23, 24, 27, 1) 39%, rgba(100, 115, 125, 0) 71%);
            width: 100%;
            height: 100%;
            opacity: .7;

            box-shadow: inset 0px -40px 33px -1px rgba(0, 0, 0, 0.33);

            transition: opacity .4s;
            z-index: 1;
        }

        &:hover:before {
            opacity: .5;

            transition: opacity .4s;
        }

        &::after {
            @include pseudoItem(0, 0, $black);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: .4;
            transition: opacity .4s;
            z-index: 1;
        }

        &:hover:after {
            opacity: .1;
            transition: opacity .4s;
        }

        img {
            height: 100%;
            transition: transform .4s;
        }

        &-title {
            position: absolute;
            left: 0.75rem;
            bottom: 1.75rem;
            z-index: 1;
            padding-right: 1rem;

            /*  width: 300px; */
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            transition: padding .4s;
            z-index: 3;
        }

        &:hover &-title {
            /* padding-bottom: 1.1rem; */
        }
    }
}

/**********************
    **********************
       CONTACTS
    **********************
**********************/

%contacts_form {
    label {
        text-transform: uppercase;

        @include fontMt(22, 400, 27, $white);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2.8125rem;

        button[type=submit] {
            @include fontMt(18, 500, 40, $main);
            background: $white;
            border-radius: 30px;
            width: 100%;
            display: inline-block;
        }
    }

    input {
        /* margin-top: -1.25rem;
        transition: margin-top .4s; */
    }
}

.contacts {
    padding-top: 4.1875rem;
    padding-bottom: 5.6875rem;
    background: $main;

    position: relative;
    z-index: 0;

    iframe {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    &::before {
        @extend %blur;

        z-index: -1;
        bottom: 1rem;
        left: -4rem;
        filter: blur(65px);
    }

    h2 {
        color: $white;
        margin-bottom: 2.5625rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1.6875rem;

        a {
            @include fontIr(23, 500, 27, $white);
            display: flex;
            flex-direction: column;
            gap: 0.4375rem;

            & {
                text-transform: uppercase;
            }

            span {
                text-transform: none;
            }
        }

        span {
            @include fontIr(18, 400, 25, $white);
        }
    }

    &__main-logo {
        opacity: .2;
        height: 23.125rem;
        margin-left: -5rem;

        img {
            object-fit: contain;
            height: 100%;
        }
    }

    @extend %contacts_form;
}

/**********************
    **********************
       LOCATION
    **********************
**********************/

.location {
    display: none;

    &__wrapper {
        height: 33.125rem;
        overflow: hidden;

        position: relative;
        z-index: 0;

        &::before {
            @include pseudoItem(0, 0, oklch(66.5% 0.118 257.35 / 80%));
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    iframe {
        width: 100%;
        height: 100%;
        transform: scale(1.5);
    }

    &__inner {}

    &__info {

        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 19.375rem;
        background: $main;

        padding-top: 0.8125rem;
        padding-left: 1.3125rem;
        padding-bottom: 2.875rem;
        z-index: 1;

        >span {
            display: flex;
            flex-direction: column;
        }
    }


    &__img {
        /*  position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%); */
        width: 3.0125rem;
        height: 3.3125rem;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

/**********************
    **********************
       LINKS
    **********************
**********************/
.links {
    padding-top: 4rem;
    padding-bottom: 4.625rem;
    position: relative;
    z-index: 0;

    h2 {
        padding-bottom: 2.75rem;
    }

    .container {
        position: relative;
        z-index: 0;
    }

    &__cover {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        row-gap: 2.05rem;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 12.0625rem;
        height: 12.0625rem;

        border-radius: 50%;
        background: oklch(93.1% 0 0);
        transition: transform .4s, background .4s;

        img {
            height: 70%;
            mix-blend-mode: darken;
            object-fit: contain;
            width: 140%;
        }

        &:hover {
            transform: scale(1.05);
            background: $white;

            transition: transform .4s, background .4s;
        }
    }

    &__item-cover {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-top: 1.25rem;
        }
    }
}

/**********************
    **********************
       MANAGEMENT
    **********************
**********************/
.management {
    @include fontIr(20, 700, 25, $text);

    padding-bottom: 13.5rem;

    position: relative;
    z-index: 0;

    &::before {
        @extend %circle;
        z-index: -1;
        width: 10.375rem;
        height: 10.813rem;
        bottom: 2rem;
        left: -5.1875rem;
    }

    &::after {
        @extend %circle;
        width: 8.75rem;
        height: 8.75rem;
        right: -4.375rem;
        top: -6rem;
        z-index: -1;
    }


    .row {
        position: relative;

        &::before {
            @extend %circle;
            width: 2.875rem;
            height: 3rem;
            bottom: -4.75rem;
            right: 30%;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.125rem;

        border-radius: 10px;
        background: $white;
        padding: 0.9375rem 1.25rem;

        &-info {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }

        &-image {
            border-radius: 50%;
            overflow: hidden;
            width: 3.8125rem;
            height: 3.8125rem;
        }

        &-text {}

        &-text span {
            @include fontIr(14, 500, 25, $sub_text);
        }
    }

    .accordion__btn {
        @include fontIr(16, 500, 25, $white);

        padding: 0.3125rem 0.875rem;
        padding-right: 3.5rem;

        border-radius: 20px;
        background: $second_main;

        position: relative;

        &::after {
            @include pseudo(url('../images/arrow.svg'), 11, 6.6);
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .accordion__btn {

        &::after {
            transition: transform .4s;
        }

        &.accordion-active {}

        &.accordion-active::after {
            transform: translateY(-50%) rotate(180deg);
            transition: transform .4s;
        }
    }

    .accordion__info {
        @include fontIr(16, 500, 29.2, $accordion_text);

        width: 100%;

        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows .6s;

        position: relative;

        &.accordion-active {
            grid-template-rows: 1fr;
            transition: grid-template-rows .5s;
        }

        &.accordion-active div {}

        div {
            overflow: hidden;
        }
    }

    &__contacts {
        display: flex;
        flex-wrap: wrap;
        gap: 1.875rem;

        a {
            @include fontIr(17, 600, 25, $sub_text);
            position: relative;
        }

        a.phone {
            padding-left: 2.1875rem;

            &::before {
                @include pseudo(url('../images/phone.svg'), 27, 30);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        a.mail {
            padding-left: 2.6875rem;

            &::before {
                @include pseudo(url('../images/mail.svg'), 32, 32);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}


/**********************
    **********************
       ORGANISATION STRUCTURE
    **********************
**********************/

.org_structure {
    text-wrap: wrap !important;
    text-align: center;

    position: relative;
    /*  background-image: url('../images/cover.png');
    background-size: cover;
    background-repeat: no-repeat; */
    z-index: 0;

    padding: 20px 0;

    &::before {
        display: none;
    }

    /*    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $black;
        opacity: .3;
        z-index: -1;
    } */

    .information__inner {
        background: $white;
        padding: 20px;
        overflow-x: auto;

        /*  padding-left: 27rem; on mobile */
    }

    .tree_cover {

        /* padding: 0 30rem; on mobile */

        .number_of_people {
            position: absolute;
            right: 0.3125rem;
            bottom: 0.3125rem;
        }

        p {
            max-width: 400px;
            margin-left: auto;
            text-align: center;
            line-height: 20px;
            margin-bottom: 2rem;
            text-wrap: wrap;
        }
    }

    .treee {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-left: 0 !important;
    }

    .treee a {
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        text-decoration: none;
        color: $black;
        width: 180px;
        border: 1px solid $black;
        padding: 10px 12px;
        background: $white;
        transition: .4s all;
        line-height: 20px;
        text-wrap: wrap !important;
        white-space: normal !important;
        word-break: break-word !important;
        position: relative;
        z-index: 1000;
        font-size: 14px;

        &:hover {
            color: $white;
            background: $main;
        }
    }

    .treee ul {
        padding-left: 30px !important;
    }

    .treee ul,
    .treee li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .treee_top {
        display: flex;
        /* justify-content: space-evenly; */
        align-items: flex-end;
        gap: 40px;
        /* flex-direction: row-reverse; */
        /* width: 100%; */
        padding-right: 2rem;
        justify-content: space-around;
        width: 100%;
    }

    .treee .tree_first_inner {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
        margin: 20px 0 0 0;


        /* padding-right: 20rem; on mobile */

        & .child_second:last-child:has(> ul):before {
            right: -16px;
            left: auto;
            height: calc(100% - 68px);
            top: -11px;
        }

        & .child_second:last-child .treee_second_inner {
            padding-right: 0;
            padding-left: 0 !important;
        }

        & .child_second:last-child .child_third::before {
            left: auto;
            right: -15px;
        }

        .child_second:last-child::after {
            left: 48.1%;
        }
    }

    .child_first {
        position: relative;
    }

    .child_first:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .child_first:nth-child(2) a {
        position: relative;
    }

    .child_first:nth-child(2)>a:after {
        content: '';
        position: absolute;
        display: block;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        height: 10px;
        width: 1px;
        background: $black;
    }


    .child_first:nth-child(2):before {
        content: "";
        position: absolute;
        display: block;
        width: calc(70% - 22rem);
        height: 1px;
        right: 13rem;
        top: 3%;
        background: #000;
    }

    .child_first:last-child {}

    .child_second {
        position: relative;
    }

    .child_second:has(> ul):before {
        content: '';
        position: absolute;
        display: block;
        border-left: 1px solid $black;
        top: 0;
        left: 0;
        height: calc(100% - 79px);
    }

    .child_second:first-child::after {
        left: 103%;
    }

    .child_second:last-child::after {
        left: -17%;
    }

    .child_second::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 121%;
        background: $black;
        top: -11px;
        left: 50%;
        transform: translateX(-50%);
    }

    .child_second>a {
        position: relative;
    }

    .child_second>a::before {}

    .child_second>a::after {
        content: '';
        position: absolute;
        height: 10px;
        width: 1px;
        background: $black;
        top: -11px;
        left: 50%;
        transform: translateX(-50%);
    }

    .child_third {
        position: relative;
    }

    .child_third::before {
        content: '';
        position: absolute;
        width: 2.9rem;
        height: 1px;
        display: block;
        background: $black;
        top: 20px;
        transform: translateY(-50%);
        left: -29px;
    }

    .treee_second_inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px !important;
    }

    .treee_second_inner .child_third:last-child a {
        height: 100px;
    }

    .treee_third_inner .child_fourth:last-child a {
        height: 100px;
    }

    .treee ul.treee_third_inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px !important;
        padding-left: 20px !important;
        position: relative;
    }

    .treee_third_inner::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        background: $black;
        width: 1px;
        height: calc(100% - 78px);
    }

    .child_fourth {}

    .child_fourth a {
        position: relative;
    }

    .child_fourth a::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        background: $black;
        left: -20px;
        top: 20px;
    }


    pre {
        overflow: inherit;
    }
}

@media (max-width: 1085px) {

    /*    .ql-syntax {
        padding-left: 27rem !important;
    } */

    .org_structure .tree_cover {
        padding: 0 3rem 0 0;
    }

    .treee .tree_first_inner {
        /*  padding-right: 20rem !important; */
    }

    .org_structure .tree_cover p {
        width: 23rem;
        padding-right: 40px;
        margin-left: 0;
    }

}

/**********************
    **********************
       FAQ
    **********************
**********************/
.faq {
    padding-bottom: 13.5rem;

    position: relative;
    z-index: 0;


    &::before {
        @extend %circle;
        z-index: -1;
        width: 3rem;
        height: 2.875rem;
        left: 1.5rem;
        bottom: 11rem;
    }

    &::after {
        @extend %circle;
        z-index: -1;
        right: -3.4375rem;
        bottom: 1.5625rem;
        width: 8.75rem;
        height: 7.6875rem;
    }

    &__img {
        border-radius: 10px;
        height: 27.6875rem;
        width: 22.5rem;

        @include maskImage(85%);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 1.25rem
    }

    .accordion__btn {
        @include fontIr(20, 600, 25, $text);
        border-radius: 10px;
        background: $white;
        padding: 1.5625rem 3rem 1.5625rem 2rem;
        width: 100%;
        text-align: left;

        position: relative;

        transition: border-radius .4s;

        &::after {
            @include pseudo(url('../images/arrow-gray.svg'), 21, 12);
            right: 1.4375rem;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .4s;
        }

        &.accordion-active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            transition: border-radius .4s;
        }

        &.accordion-active::after {
            transform: translateY(-50%) rotate(180deg);
            transition: transform .4s;
        }
    }

    .accordion__info {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows .4s;
    }

    .accordion__info div {
        overflow: hidden;
        background: $white;

        padding: 0 2rem;

        @include fontIr(16, 500, 26, $accordion_text);

        transition: padding .4s;
    }

    .accordion__info.accordion-active {
        grid-template-rows: 1fr;

        transition: grid-template-rows .4s;
    }

    .accordion__info.accordion-active div {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        padding: 0rem 2rem 1.5625rem 2rem;

        transition: padding .4s;
    }

}

/**********************
    **********************
       CONTACTS PAGE
    **********************
**********************/

.contacts__details {
    padding-bottom: 5.9375rem;

    position: relative;
    z-index: 0;

    &::before {
        @extend %circle;

        bottom: 3.875rem;
        width: 4.125rem;
        height: 4.125rem;
        left: -2.0625rem;
    }

    &::after {
        /*   @extend %circle;
        width: 3rem;
        height: 3rem;
        right: -1rem;
        top: -5rem; */
    }
}

/* It's not a section, it's actually inside the contacts__info section. */
.contacts__map {
    &-header {
        display: flex;
        gap: 4.375rem;

        width: 100%;
        background: $main;
        flex-wrap: wrap;
        padding: .9375rem 2rem 1.0625rem 2rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &-item {
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;

        iframe {
            width: 100%;
        }
    }

    &-header__item {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;

        span {
            @include fontIr(18, 600, 25, $white);
        }

        a {
            @include fontIr(18, 500, 26, $white);

            padding-left: 1.0625 + 1.625 + rem;
            position: relative;
        }

        a::before {
            left: 0;
            top: 40%;
            transform: translateY(-50%);
        }

        &.address a::before {
            @include pseudo(url('../images/location-whtie.svg'), 22, 26);
        }

        &.email a::before {
            @include pseudo(url('../images/message-white.svg'), 26, 26);
        }

        &.phone a::before {
            @include pseudo(url('../images/phone-white.svg'), 26, 26);
        }
    }
}

.contacts__message {
    padding-top: 4.1875rem;
    padding-bottom: 5rem;
    margin-bottom: 1.875rem;

    background: $main;
    @extend %contacts_form;

    position: relative;
    z-index: 0;

    &::before {
        @extend %blur;
        left: -3rem;
        bottom: 2.1875rem;

        width: 19.5rem;
        height: 11.6875rem;

        z-index: -1;
    }

    &::after {
        @extend %blur;
        right: -3rem;
        top: 2.6875rem;

        width: 19.5rem;
        height: 11.6875rem;

        z-index: -1;
    }

    h2 {
        color: $white;
        margin-bottom: 1.0625rem;
    }

    &-inner {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &-inner span {
        flex-grow: 5;
    }

    &-inner form {
        flex-grow: 6;
    }
}


/**********************
    **********************
       DEFAULT PAGE, INFORMATION 
    **********************
**********************/
.page {
    padding-bottom: 9.1875rem;

    position: relative;
    z-index: 0;

    &::before {
        @extend %circle;
        width: 8.75rem;
        height: 8.75rem;

        left: -4.375rem;
        top: 4.0625rem;
        z-index: -1;
    }

    &::after {
        @extend %circle;
        width: 3rem;
        height: 3rem;

        right: 1.5rem;
        bottom: 3rem;
        z-index: -1;
    }

    &__inner {
        background: $white;
        padding: 2rem;
        border-radius: 20px;
        /* display: none; */

        &:has(.page__avatar) {
            >div {
                display: flex;
                gap: 2rem;
                align-items: flex-start;
            }
        }

        .page__avatar {
            border-radius: 20px;
            overflow: hidden;
        }
    }
}

.information {
    &__inner {
        padding-bottom: 200px;
    }
}


/**********************
    **********************
       ABOUT UZBEKISTAN
    **********************
**********************/
.uzbekistan {
    padding-top: 30px;
    padding-bottom: 30px;

    .row {
        row-gap: 30px;
    }

    p {
        line-height: 24px;
    }

    h3 {
        margin-bottom: 17px;
    }

    h2 {
        margin-bottom: 20px;
    }

    .col-lg-6 img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .row {}

    h4 {
        @include fontAl(19, 700, 25, $title);
        margin-bottom: 17px;
    }

    .hymn {
        max-width: 286px;
    }

    &.dark {
        background: $bg;
        padding-top: 60px;
        padding-bottom: 70px;
    }
}

.uzbekistan__info {

    /* width */
    ::-webkit-scrollbar {
        width: 11px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.19);
        border-radius: 5px;
        box-shadow: 0px 1px 17px 0px rgba(147, 147, 147, 0.15);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $main;
        border-radius: 5px;
    }

    padding-bottom: 15.625rem;

    position: relative;
    z-index: 0;

    &::before {
        @extend %circle;
        bottom: 5.9375rem;
        left: -2.0625rem;
        width: 4.125rem;
        height: 4.125rem;
    }


    &::after {
        @include pseudo(url('../images/background-image.png'), 0, 0);
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        background-size: cover;
        width: 100%;
        height: 19rem;
        width: 100%;
        z-index: -1;
        background-position: 0 -14rem;
    }

    .region__map svg {
        width: 100%;
    }

    .region__list {
        margin-top: 0;

        &-item__info {
            flex-direction: row;
            gap: 30px;

            a {
                padding: 0;

                &::before {
                    content: none;
                }
            }
        }
    }

    .region__list-item.active {
        a {
            padding: 0;

            &::before {
                content: none;
            }
        }
    }

    path:hover {
        /*  fill: $active; */
    }

    p {
        /* @include fontFt(17px, 400, 130%, $text); */
    }
}

.region {
    padding-top: 60px;
    padding-bottom: 69px;
    background-image: url('../images/region-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    /* width */
    ::-webkit-scrollbar {
        width: 11px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.19);
        border-radius: 5px;
        box-shadow: 0px 1px 17px 0px rgba(147, 147, 147, 0.15);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $white;
        border-radius: 5px;
    }

    &__title {
        /* @include fontAs(28px, 700, 120%, $white); */
        position: relative;
        margin-bottom: 58px;

        &::after {
            /*  @extend %title_border; */
            background: $white;
            bottom: -19px;
        }
    }

    /* Region Tab */
    &__tab {
        margin-bottom: 37px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.19);
        display: flex;
        gap: 47px;
        max-width: 630px;

        &-btn {
            border: none;
            background: transparent;
            padding-bottom: 18px;
            /* @include fontAs(22px, 700, 120%, rgba(255, 255, 255, 0.19)); */

            &.active {
                color: $white;
            }
        }
    }

    &__tab-item {
        display: flex;
        justify-content: space-between;

        display: none;

        &.active {
            display: flex;
        }
    }

    /* Region Map */
    &__map {
        path {
            cursor: pointer;
            transition: .4s all;
            fill: #EAEAEA;
            fill-opacity: 1;

            &:hover {
                fill: $white;
                fill-opacity: 1;
                stroke-opacity: 1;
            }
        }
    }


    /* Region list */
    &__list {
        display: flex;
        flex-direction: column;
        gap: 9px;
        height: 540px;
        overflow-y: scroll;
        margin-top: -80px;
        padding-right: 12px;



        /*Item*/
        &-item,
        &-item-2 {
            background: $white;
            border-radius: 10px;
            border: none;
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 17px;
            padding: 28px 40px 28px 23px;

            /*Item title*/
            &__title {
                /* @include fontAs(22px, 700, 120%, $title); */
            }

            /*Item inner container*/
            &__info-cover {
                display: flex;
                flex-direction: column;

                span {
                    @include fontIr(15, 600, 25, $text);
                }

                a {
                    /* @include fontAs(17px, 700, 160%, $title); */
                    color: $text;
                    position: relative;
                    padding-left: 30px;
                }

                .region__phone::before {
                    @include pseudo(url('../images/phone.svg'), 24px, 25px);
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .region__mail::before {
                    @include pseudo(url('../images/messages-dark.svg'), 25px, 24px);
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &__info {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }


            /*Item Active*/
            &.active {
                background: $main;
            }

            &.active &__title {
                color: $white;
            }

            &.active a {
                color: $white;

                &.region__phone::before {
                    @include pseudo(url('../images/phone-white.svg'), 24px, 25px);
                }

                &.region__mail::before {
                    @include pseudo(url('../images/messages.svg'), 25px, 24px);
                }
            }

            &.active span {
                color: $white;
            }
        }
    }
}

.uzbekistan__about {
    text-align: center;
    text-wrap: wrap;

    background: $main;
    padding-top: 2.9375rem;
    padding-bottom: 4.3125rem;

    h3 {
        @include fontAl(25, 700, 30, $white);
        margin-bottom: 0;
        height: 60px;
    }

    &-item {

        display: flex;
        align-items: flex-start;
        gap: 23px;

        padding: 1.8125rem 0.9375rem 1.5625rem 1.75rem;
        border-radius: 10px;
        background: rgba($color: #fff, $alpha: .1);
        justify-content: flex-start;

        &:not(:has(.uzbekistan__about-btn)) {
            padding-bottom: 4.125rem;
        }

        &.active {
            overflow: visible;
            transition: .4s all;
        }
    }

    /* Changing the container of the text */
    &-item>div:last-child {

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 0.75rem;

        max-width: 27rem;
        text-align: left;
    }

    &-accardion {
        /* 13rem */
        overflow: hidden;


        /* Passive */
        &>p {
            @include fontIr(16, 400, 26, $white);
            overflow: hidden;
            display: inline-block;
            /* max-height: 10%; */
            /*  height: 80px; */

            transition: max-height .4s;

            strong {
                color: $white;
                text-decoration: underline;
            }
        }

        /* Active */
        &.active {
            p {
                /* height: 10rem; */

                transition: max-height .4s;
            }
        }
    }

    &-img {
        width: 70%;
        margin: 0 auto;
        aspect-ratio: 3/2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .col-lg-6 img {
        height: 100%;
        object-fit: scale-down;
    }

    &-btn {
        @include fontIr(16, 500, 25, $white);
        margin-top: auto;
        position: relative;
        user-select: none;
        padding-right: 1.9rem;

        &::after {
            @include pseudo(url('../images/arrow.svg'), 14, 8.8);
            right: .5rem;
            top: 50%;
            transform: translateY(-50%);
            transition: .4s all;
        }

        &.active::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }

}

.uzbekistan__holidays {
    z-index: 0;
    text-align: center;

    &::after {
        top: 120px;
    }

    &::before {
        top: 50%;
    }

    h2 {
        text-align: left;
    }

    h4 {
        @include fontIr(16, 600, 26, $title);
        min-height: 3.25rem;
        margin-bottom: 0;
        text-wrap: balance;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 30px;


        &>.row {
            row-gap: 1.25rem;
        }
    }

    .col-12 {
        display: flex;
        justify-content: center;
    }


    &-img {
        /* border-radius: 50%; */
        overflow: hidden;
        /*  border-radius: 50%; */

        height: 10.5rem;
        width: 10.5rem;

        @include maskImage(85%);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-item {
        background: $white;
        border-radius: 10px;
        padding: 1.6875rem 1.5rem 1.1875rem 1.5rem;

        >.row {
            .col-lg-6 {
                /*  display: flex;
                flex-direction: column;
                justify-content: center; */
            }
        }

        p {
            text-wrap: pretty;
        }
    }
}

/**********************
    **********************
       EVENTS
    **********************
**********************/
.events {
    padding-bottom: 7.9375rem;
    position: relative;

    &__wrapper {
        display: flex;
        margin-bottom: 1.5rem;
    }

    img {
        border-radius: 10px;
        @include maskImage(85%);
    }

    h4 {
        @include fontIr(16, 600, 22, $title);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__btn {
        @include fontMt(14, 500, 20, $second_main);
        padding: 0.4375rem 2.125rem;
        border-radius: 30px;
        border: 1px solid $second_main;
    }

    &__item {
        flex-basis: 100rem;

        padding-right: 0.625rem;

        border-right: 1px solid oklch(84.83% 0 0);

        div:not(.row, .col-lg-6) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.25rem;
        }

        .col-lg-4 {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            img {
                @include maskImage(58%);
                mask-position: center;
                min-height: 9.725rem;
            }
        }

        /* div:last-child {
            grid-column: 3 / 4;
        } */
    }

    .most__recent {
        height: 100%;


        img {
            height: 100%;
            @include maskImage(85%);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding-left: 0.625rem;

        gap: 1.125rem;

        &-item {
            display: flex;
            gap: 1.25rem;

            img {
                width: 6.0625rem;
                height: 5.8125rem;
                border-radius: 10px;
                @include maskImage(85%);
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.375rem;
            }
        }
    }


    /*  .pagination {
        display: flex;
        justify-content: flex-end;
        gap: 0.375rem;

        a {
            @include fontMt(14, 500, 20, $second_main);
            border: 1px solid $second_main;
            border-radius: 10px;

            padding: 0.75rem 0;

            position: relative;

            background: $white;

            &.disabled {
                opacity: .5;
            }
        }

        .next {
            padding-right: 3.775rem;
            padding-left: 0.875rem;



            &::after {
                @include pseudo(url('../images/arrow-tail-purple.svg'), 17.5, 14.6);
                right: 1.181219rem;

                top: 50%;
                transform: translateY(-50%);
            }
        }

        .previous {
            padding-right: 1.375rem;
            padding-left: 4.75rem;

            &::before {
                @include pseudo(url('../images/arrow-tail-purple.svg'), 19.1, 17.8);

                transform: rotate(180deg);

                left: 0.906rem;
            }
        }
    } */
}

/**********************
    **********************
       GALLERY
    **********************
**********************/
/* First verison */
.gallery {
    padding-bottom: 8.625rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        /*  display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.25rem; */
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.25rem;
    }

    .gallery__inner.left {
        .gallery__item:first-child {
            grid-row: 1 / 2 span;
            grid-column: 1 / 2 span;
        }
    }

    .gallery__inner.right {
        .gallery__item:last-child {
            grid-column: 5 / 3;
            grid-row: 1 / 3;
        }
    }

    &__item {
        border-radius: 10px;
        overflow: hidden;

        position: relative;

        &::before {
            @include pseudoItem(0, 0, $black);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: .4;
            transition: opacity .4s;
            z-index: 1;
        }

        &:hover img {
            transform: scale(1.1);
            transition: transform .4s;
        }

        &:hover:before {
            opacity: 0;
            transition: opacity .4s;
        }

        img {
            height: 100%;
            transform: scale(1);
            transition: transform .4s;
            /* @include maskImage(80%); */
        }
    }


    /* FOR VIDEO */
    .popup-video {
        width: 100%;
    }

    &__video-item {
        position: relative;
        width: 100%;
        height: 320px;
        border-radius: 20px;
        overflow: hidden;
        display: block;
        transition: .3s all;
        position: relative;

        &::before {
            @include pseudo(null, 100%, 100%);
            height: 100%;
            width: 100%;
            background: #000;
            opacity: .3;
            left: 0;
            top: 0;
            transition: .3s all;
        }

        &:hover::before {
            opacity: 0;
        }

        &:hover {
            transform: scale(1.05);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__video-item {

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(0deg, rgba(10, 60, 85, 0.68) 0%, rgba(10, 60, 85, 0.68) 100%);
        }

        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background: $main;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                width: 76px;
                height: 76px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background: rgba(10, 60, 85, 0.39);
            }

            &::after {
                @include pseudo(url('../images/play.svg'), 22, 22);
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

/* Second version */
.gallery.second {
    .gallery__wrapper {}

    .gallery__cover {
        display: grid;
        gap: 1.25rem;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        align-self: flex-start;
        grid-template-rows: auto;
        grid-auto-flow: dense;
    }

    /* Center */
    .gallery__cover.center {
        .gallery__item {
            align-self: flex-start;
            height: 17.6875rem;
        }

        .gallery__item:nth-child(2) {
            height: 50%;
            grid-column: 2;
            grid-row: 1;

            max-height: 11.375rem;
            height: 100%;
        }

        .gallery__item:nth-child(3) {
            grid-column: 2;
            grid-row: 1;
            align-self: flex-end;

            max-height: 11.375rem;
            height: 100%;

            margin-top: 12.5rem;
        }

        .gallery__item:nth-child(5) {
            margin-top: -6.3rem;
        }

        .gallery__item:nth-child(6) {
            max-height: 11.375rem;
            height: 100%;
        }

        .gallery__item:nth-child(7) {
            margin-top: -6.3rem;
        }
    }

    /* Left */
    .gallery__cover.left {
        .gallery__item {
            align-self: flex-start;
            height: 17.6875rem;
        }

        .gallery__item:nth-child(1) {
            grid-column: 1;
            grid-row: 1;

            max-height: 11.375rem;
            height: 100%;
        }

        .gallery__item:nth-child(2) {
            grid-column: 1;
            grid-row: 1;
            align-self: flex-end;

            max-height: 11.375rem;
            height: 100%;

            margin-top: 12.5rem;
        }

        .gallery__item:nth-child(5) {
            max-height: 11.375rem;
            height: 100%;
        }

        .gallery__item:nth-child(6) {
            margin-top: -6.3rem;
        }

        .gallery__item:nth-child(7) {
            margin-top: -6.3rem;
        }
    }

    /* Right */
    .gallery__cover.right {
        .gallery__item {
            align-self: flex-start;
            height: 17.6875rem;
        }

        .gallery__item:nth-child(3) {
            grid-column: 3;
            grid-row: 1;

            max-height: 11.375rem;
            height: 100%;
        }

        .gallery__item:nth-child(4) {
            grid-column: 3;
            grid-row: 1;
            align-self: flex-end;

            max-height: 11.375rem;
            height: 100%;

            margin-top: 12.5rem;
        }

        .gallery__item:nth-child(5) {
            margin-top: -6.3rem;
        }

        .gallery__item:nth-child(6) {
            margin-top: -6.3rem;
        }

        .gallery__item:nth-child(7) {
            max-height: 11.375rem;
            height: 100%;
        }
    }
}


/**********************
    **********************
       FOOTER
    **********************
**********************/
.footer {
    background: $main;
    padding-top: 3.125rem;
    padding-bottom: 4.1875rem;

    position: relative;
    z-index: 0;

    &::before {
        @include pseudo(url('../images/main-logo.svg'), 286, 370);
        left: 50%;
        top: 57%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: .2;
    }



    &__message {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.125rem;

        h2 {
            @include fontAl(50, 700, 45, $white);

        }

        a {
            @include fontMt(18, 500, 26, $main);
            background: $white;
            border-radius: 30px;
            padding: 0.625rem 5.25rem;

            position: relative;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 3.125rem 0 1.875rem 0;

        padding: 2.975rem 0 5.4125rem 0;

        border-top: 1px solid rgba($color: #fff, $alpha: .29);
        border-bottom: 1px solid rgba($color: #fff, $alpha: .29);
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 1rem;

        h4 {
            @include fontIr(20, 600, 25, $white);
            grid-column: 1 / 3;
        }

        a {
            @include fontIr(16, 400, 25, $white);
            display: block;
            overflow: hidden;

            position: relative;
        }

        a::before {
            @include pseudoItem(0, 0, $white);
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -6px;

            transform: translateX(-100%);

            /*  transform-origin: right; */
            transition: transform .4s;

            z-index: 1;
        }

        a:hover:before {
            transition: transform .4s;
            transform: translateX(0);
        }

    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        a {
            display: flex;
            flex-direction: column;
            gap: 0.3125rem;

            @include fontIr(20, 600, 27, $white);
        }

        a:first-child {
            text-transform: uppercase;
        }

        a span {
            @include fontMt(16.4, 300, 20.2, $white);
        }
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        p {
            @include fontIr(16, 400, 25, $white);
        }
    }

}

/**********************
    **********************
       MEDIA QUERIES
    **********************
**********************/

@media (max-width: 1604px) {
    html {
        font-size: $global_font_size - 1 + px;
    }
}

@media (max-width: 1527px) {
    html {
        font-size: $global_font_size - 2 + px;
    }
}

@media (max-width: 1480px) {
    html {
        font-size: $global_font_size - 3 + px;
    }

    .org_structure .child_first:first-child::before {
        width: calc(60rem - 23rem);
    }

    .org_structure .child_second::after {
        width: 119.8%;
    }
}

@media (max-width: 1200px) {
    .management__contacts {
        flex-direction: column;
    }

    .uzbekistan__about-item>div:last-child {
        max-width: 20rem;
    }
}

@media (max-width: 991px) {
    html.open {
        body {
            position: relative;

            &::after {
                @include pseudoItem(0, 0, $black);
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                opacity: .6;
            }
        }

        .header.secondary {
            z-index: unset;
        }
    }

    .logo {
        height: 65px;
        width: 115px;
    }

    .menu {
        padding: 1.625rem 0;

        &__list {
            display: flex;
            position: absolute;
            flex-direction: column;
            right: -100%;
            top: 0;
            height: 100dvh;
            background: $main;
            z-index: 10;
            padding: 3rem 5rem 2rem 1rem;
            overflow-y: auto;

            opacity: 0;

            transition: opacity .4s, right 1s;

            &.active {
                right: 0;
                opacity: 1;

                transition: opacity .4s, right .4s;
            }
        }

        .menu__list-link {
            padding: 0;
        }

        .menu__list-item:has(ul) .menu__list-link::after {
            content: none;
        }
    }

    .menu__list-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.25rem;
    }

    .menu__list-item:has(ul)>ul {
        position: static;
        transform: unset;
        background: transparent;
        box-shadow: unset;
        padding-top: 1.5rem;
        opacity: 1;
        visibility: visible;
    }

    .close {
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        right: 1rem;
        top: 1rem;

        &::before {
            @include pseudoItem(2, 16, $white);
            transform: rotate(-45deg);
        }

        &::after {
            @include pseudoItem(2, 16, $white);
            transform: rotate(45deg);
        }
    }

    .burger__btn {
        display: flex;
    }

    .hero {
        z-index: 0;
    }

    .hero::before {
        right: 0rem;
    }

    .hero::after {
        @include pseudo(url('../images/main-logo.svg'), 0, 0);
        background-position: center;
        width: 17.929rem;
        height: 23.244rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        right: unset;
        filter: blur(0px);
        background-color: transparent;
        z-index: -1;
        opacity: .5;
    }

    .hero__image {
        display: none;
    }

    .about::before {
        display: none;
    }

    .about::after {
        display: none;
    }

    .about__img {
        max-width: 100%;
        /*  height: 24.125rem; */

        img {}
    }

    .competition .row:nth-child(even) img {
        display: block;
        margin-left: unset;
        margin-right: unset;
    }

    .competition .row img {
        max-width: 100%;
        margin-left: unset;
    }

    .news__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .news__item {
        height: 24rem;
    }

    .contacts {
        background: $main;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &::after {
            @include pseudo(url('../images/main-logo.svg'), 286, 370);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: .2;
        }
    }

    .contacts {
        .row {
            row-gap: 2rem;
        }
    }

    .contacts__main-logo {
        display: none;
    }

    .links__cover {
        grid-template-columns: repeat(2, 1fr);
    }

    .faq__img {
        width: 100%;
    }

    .contacts__map-header {
        justify-content: center;
        gap: 2.375rem;
    }

    .events {
        img {
            width: 100%;
            height: 25rem;
        }
    }

    .events__wrapper {
        flex-direction: column;
        gap: 1.25rem;
    }

    .events__item {
        border-right: none;
        flex-basis: unset;
        padding: 0;
    }

    .events__item div:not(.row, .col-lg-6) {
        width: 100%;
    }

    .events__list {
        padding: 0;
    }

    .events .most__recent img {
        height: 25rem;
    }

    .events__list-item {
        flex-direction: column;
    }


    .footer__message {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .footer__inner {
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media (max-width: 995px) {
    .footer__wrapper {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2.25rem;
    }

    .footer__list {
        gap: 1.3125rem;
    }
}

@media (max-width: 767px) {
    .hero::after {
        display: none;
    }

    .hero::before {
        right: 0rem;
    }

    .hero__wrapper {
        flex-direction: column;
        gap: 0rem;
    }

    .contacts__message-inner {
        flex-direction: column;
        gap: 2rem;
    }

    .footer__inner {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .news__wrapper {
        grid-template-columns: 1fr;
    }

    .hero::before {
        top: unset;
        bottom: 1rem;
    }

    .uzbekistan__about-item {
        flex-direction: column;
    }

    .uzbekistan__about-img {}

    .uzbekistan__about-item>div:last-child {
        max-width: 100%;
    }

    .events img {
        height: 20rem;
    }
}

@media (max-width: 485px) {
    .contacts__map-header {
        justify-content: flex-start;
    }
}

@media (max-width: 480px) {
    .subordinate__links {
        flex-direction: column;
        gap: 1.25rem;
        align-items: center;
    }

    .footer__copyright {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 400px) {
    .links__cover {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 360px) {
    html {
        font-size: $global_font_size - 5 + px;
    }
}

@media (max-width: 300px) {
    html {
        font-size: $global_font_size - 7 + px;
    }
}

/************************ 
******************
************
    TEST
************
******************
***********************/

.header.olive {
    .menu__list-item:has(ul)>ul {
        background: linear-gradient(136.33deg, oklch(52.53% 0.052 113.5) 4.162%, oklch(73.95% 0.11 148.25) 89.623%);
    }

    .lan__link {
        color: oklch(52.53% 0.052 113.5);

        &::after {
            background-image: url('../images/arrow-olive.svg');
        }
    }

    .lan__inner>li>a {
        color: oklch(52.53% 0.052 113.5);
    }
}


.main.olive {
    .hero {
        background: linear-gradient(136.33deg, oklch(52.53% 0.052 113.5) 4.162%, oklch(73.95% 0.11 148.25) 89.623%);

        &::before {
            right: unset;
            top: unset;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &::after {
            content: none;
        }


        &__title::before {
            content: none;
        }

        &__about .circle__inner {
            background: oklch(0.5253 0.052 113.5);
        }
    }

    .circle__inner {
        background: oklch(70.78% 0.101 146.42);
    }

    .about {
        &::before {
            background: oklch(70.78% 0.101 146.42);
        }

        &::after {
            background: oklch(70.78% 0.101 146.42);
        }

        &__img::before {
            background: oklch(70.78% 0.101 146.42);
        }
    }

    .competition {
        background: linear-gradient(-58.42deg, rgb(106, 110, 75) -14.394%, rgb(118, 178, 123) 95.837%);
    }

    .contacts {
        background: linear-gradient(128.43deg, rgb(106, 110, 75) -29.126%, rgb(118, 178, 123) 87.643%);

        form button[type=submit] {
            color: oklch(52.53% 0.052 113.5);
        }
    }

    .btn {
        color: oklch(52.53% 0.052 113.5);
        border-color: oklch(52.53% 0.052 113.5);

        &::before {
            background: oklch(70.78% 0.101 146.42);
        }

        &::after {
            background: url('../images/arrow-tail-olive.svg');

        }

        &:hover {
            color: $white;
            border-color: $white;
        }

        &:hover::after {
            filter: brightness(3) contrast(40);
        }
    }
}

.footer.olive {
    background: linear-gradient(-60.98deg, rgb(106, 110, 75) -41.947%, rgb(117, 172, 119) 106.688%);

    .footer__message a {
        color: oklch(52.53% 0.052 113.5);
    }
}