<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">

            <div class="footer__message">
                <h2>
                    СВЯЖИТЕСЬ С НАМИ
                </h2>
                <a href="contacts.html">
                    Связаться
                </a>
            </div>

            <div class="footer__inner">
                <ul class="footer__list">
                    <h4>
                        Компания
                    </h4>
                    <li>
                        <a href="#">‎</a>
                    </li>
                    <li>
                        <a href="#">
                            Общая информация
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Организационная структура
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Руководство
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            FAQ
                        </a>
                    </li>
                </ul>

                <ul class="footer__list">
                    <h4>
                        Ресурсы
                    </h4>
                    <li>
                        <a href="#">‎</a>
                    </li>
                    <li>
                        <a href="gallery.html">
                            Галерея
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Новости
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Об узбекистане
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Для СМИ
                        </a>
                    </li>
                </ul>

                <div class="footer__info">
                    <a href="mailto:info@interforum.uz">
                        <span>
                            Электронная почта
                        </span>
                        info@interforum.uz
                    </a>
                    <a href="tel:998712385767">
                        <span>
                            Номер телефона
                        </span>
                        +998 71 238 57 67
                    </a>
                </div>
            </div>

            <div class="footer__copyright">
                <p>
                    Copyright © 2024 - InterForum.
                </p>

                <p>
                    Политика конфиденциальности
                </p>
            </div>

        </div>
    </div>
</footer>

<script src="js/tween.js"></script>
<script src="js/main.min.js"></script>
</body>

</html>