<!--=include second_header.html -->

<main class="main">
    <section class="section__header">
        <div class="container">
            <p class="section__header-text">
                Главная/Об Узбекистане
            </p>
            <h2 class="section__header-title">
                Об Узбекистане
            </h2>
        </div>
    </section>
    <section class="uzbekistan uzbekistan__info" id="uzbekistan-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="region__map">
                        <svg id="uzbekistan-map" width="683" height="445" viewBox="0 0 683 445" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path data-region="region-2"
                                d="M522.98 234.43L523.637 233.952V234.609L523.936 235.265L524.891 236.399L525.548 235.743V235.922L525.369 236.399L525.847 237.354L527.102 237.653L528.356 236.041L530.387 234.131L531.821 233.355L531.343 232.878L531.642 232.4L531.164 231.744L530.686 231.446L531.343 230.312L531.164 229.536L529.73 228.581L528.476 228.402L527.52 227.745H526.265L524.234 229.774L523.936 231.505L522.98 234.43ZM606.611 185.846L606.134 187.875L604.7 189.009L601.355 189.964L595.799 194.262L594.186 194.56L592.275 194.381L590.662 194.858L590.005 196.768L589.825 199.753L589.347 200.708L587.914 201.185L583.971 201.662L582.717 202.438L578.774 205.781L577.042 207.81L575.907 210.317L574.951 211.749L573.696 212.525L572.442 213.182L570.052 215.092L563.541 218.912L562.765 220.344L563.541 222.075L564.975 222.851L570.53 223.507L571.964 224.462L572.621 225.119L573.278 225.895L574.234 227.805L574.891 228.461H575.548L575.07 229.715L574.772 230.371L572.86 232.878L572.681 233.176V233.475L572.86 234.131V234.907L573.039 235.206L573.219 235.385L574.354 235.564L574.533 236.041L574.354 236.817L574.174 237.116L573.398 238.727V239.026V239.324L573.577 239.622L573.876 240.1L574.652 241.234L575.429 242.666L575.608 243.8L575.787 247.74L575.489 248.993L575.011 248.516L573.278 247.74L571.845 248.217L570.71 253.768L568.499 256.275L565.632 258.006L561.51 259.617L557.687 262.482L550.399 264.869L549.443 265.347L548.667 266.003L546.934 268.033L545.979 268.809L544.844 269.107L543.589 268.63L543.111 268.152L542.633 267.675L541.857 266.421L541.379 265.944L540.423 265.287L539.945 264.81L538.332 262.422L537.376 261.646L536.122 261.467L535.465 261.169L534.987 260.691L534.509 260.214L533.732 260.035L532.478 260.512L531.821 260.811L531.164 261.288L530.208 262.542L529.551 263.974L529.252 265.586V267.496L529.551 270.36L529.372 271.017L528.715 271.315L526.325 271.494L524.891 272.449V273.583L526.504 276.269L527.281 279.254L527.58 280.209L528.715 282.118L529.192 283.073L529.491 284.207L529.192 286.714L527.938 286.893L526.325 286.237L525.19 286.416L525.369 288.027L528.237 290.534V291.788L526.803 292.444H524.891L521.247 291.31L519.814 290.653L519.993 289.997L520.65 287.968V287.192L520.351 286.714L519.694 285.282L520.471 280.507L520.65 280.209L520.829 279.731L521.009 279.433L521.666 278.657L521.845 278.179V277.702L521.666 277.224L521.486 276.747L521.188 276.448L520.71 275.971L520.531 275.493L521.307 275.016L521.009 274.717L520.71 274.538H520.232H519.754L520.232 272.628L520.531 271.853L521.486 271.375V271.077L521.188 270.778L520.889 270.599L520.59 270.778L520.112 271.256L519.814 271.554L519.515 271.375V271.077L520.172 270.42L520.351 269.943L520.112 269.405L519.336 268.749L518.858 267.496H518.081L516.349 267.794L517.006 266.66L517.185 266.182L516.887 266.003L516.23 266.182L515.752 266.481L515.095 266.66L514.437 266.362L514.915 265.705L514.736 265.048L514.258 264.392L513.78 263.914L513.482 263.735H513.183H512.884L512.586 263.437V263.258V262.601V262.422L512.108 261.646L511.929 261.348L511.451 261.05L510.316 260.572L510.017 260.393L509.718 259.915L509.24 258.961L508.942 258.483L508.285 258.006L507.508 257.707L506.552 257.528L505.895 257.826L505.716 256.872L505.537 256.573H505.357L505.059 256.872L504.88 256.692L504.7 256.394V255.141L504.521 254.663L504.222 254.186L502.191 252.276L502.49 252.097L503.745 251.619L504.222 251.142L504.521 250.664L505.298 248.635L506.074 246.606L506.552 245.949L507.03 245.293L508.464 244.636L509.897 243.979L510.375 243.204L510.853 242.428L511.152 242.129L511.451 241.831L511.929 241.652L512.406 241.473L513.183 241.294L513.96 241.115L514.617 240.816L515.393 240.518L516.05 240.04L516.707 239.563L517.006 239.264L517.305 238.966L517.484 238.667L517.663 238.369L517.962 235.862L518.261 233.355V232.997V232.52V232.221V231.923V231.744V231.565H518.081H517.902L517.723 231.386L517.544 231.207V231.028V230.849L517.723 230.67L517.902 230.491L518.081 230.312L518.261 230.132L519.216 229.655L520.172 229.177L520.471 228.998L520.77 228.819L521.068 228.998L521.367 229.177L521.546 228.7L521.725 228.223L522.203 227.745L522.681 227.268L523.816 226.611L524.951 225.954H525.25H525.548L526.206 226.134L526.863 226.313H527.161H527.46L528.237 225.835L529.013 225.358L529.312 225.179L529.611 225L530.746 225.179L531.881 225.358L532.06 225.179L532.239 225V224.701V224.403L531.94 223.746L531.642 223.09V222.791V222.493L531.94 221.836L532.239 221.18L532.717 220.881L533.195 220.583L534.33 220.284L535.465 219.986L537.496 218.374L539.527 216.763L540.184 216.106L540.841 215.45L541.14 215.151L541.439 214.853L544.127 214.077L546.815 213.301L549.025 213.122L551.235 212.943L552.012 212.645L552.789 212.346L553.446 211.57L554.103 210.914L554.401 210.436L554.7 209.959L554.999 209.66L555.297 209.362L556.432 208.884L557.567 208.407L559.18 207.154L560.793 205.9L561.271 205.244L561.749 204.587L563.183 202.2L564.437 199.812L564.736 199.514L565.035 199.215L565.333 199.036L565.632 198.857L565.931 198.678L566.229 198.499L566.528 198.32L566.827 198.141L567.125 197.843L567.424 197.544L567.603 197.067L567.782 196.589L568.26 195.455L568.738 194.321L569.515 193.545L570.291 192.769L572.203 191.993L574.115 191.218H574.413H574.712L575.011 191.516L575.309 191.814L575.608 192.113L575.907 192.411L576.086 192.71L576.265 193.008L576.444 193.486L576.623 193.963L576.922 194.262L577.221 194.56L577.699 194.739L578.177 194.918H578.655H579.132L579.79 194.62L580.447 194.321L580.925 193.545L581.402 192.769L581.701 191.814L582 190.859L582.478 190.084L582.956 189.129L583.613 188.472L584.091 187.815L584.27 187.517L584.449 187.219L584.628 186.741L584.807 186.264L585.106 185.965L585.405 185.667H585.883H586.361L587.316 185.965L588.272 186.264L589.049 186.085L589.825 185.906L590.602 185.607L591.379 185.309L592.633 184.175L593.887 183.041L594.664 182.265L596.396 181.011L597.651 180.832L598.905 181.31L604.461 185.249L606.611 185.846Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-1" style="fill: oklch(67.88% 0.117 248.92); fill-opacity: 1;"
                                d="M527.102 237.772L525.967 237.414L525.489 236.459L525.668 235.982V235.862L525.011 236.459L524.055 235.385L523.757 234.728L523.577 234.131L522.98 234.43H522.801L523.936 231.863L524.234 230.132L526.266 228.103H527.699L528.655 228.7L529.79 228.879L531.224 229.834L531.343 230.61L530.865 231.744L531.343 232.042L531.821 232.699L531.522 233.176L531.821 233.654L530.387 234.251L528.356 236.161L527.102 237.772Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-5"
                                d="M516.648 295.07L514.737 293.817L505.418 295.548L503.686 297.756L503.028 298.89L502.849 299.547V299.845V300.143V300.442L503.028 300.919L503.208 301.218L503.387 301.397L503.686 302.352L503.865 302.829V303.128V303.605L503.686 305.336L503.506 305.634H503.327L503.148 305.455L502.969 305.276L502.79 305.097H502.491L502.192 305.276V305.455L502.371 305.634L502.551 305.814L503.208 306.291L503.387 306.47L503.566 306.649V306.948L503.387 307.246L503.208 307.723V308.499L503.028 308.977L503.506 309.156L504.94 307.903L505.597 308.38L506.732 310.111L507.21 310.409L507.509 310.111L507.688 309.633V309.335L507.987 308.559L508.166 308.38H508.644L508.823 308.201L509.301 307.246V306.41L508.345 304.5L508.046 303.366L507.867 302.411L508.166 301.934L508.942 302.591L509.719 304.321L510.376 306.53L511.332 307.962L513.064 307.306L512.885 306.172L509.42 301.277L509.241 300.8V300.442L509.42 299.308L509.241 299.009L508.584 298.353L508.405 297.875L508.883 296.92L509.54 297.398L510.496 299.009L510.973 298.83L512.407 297.577L513.184 297.279L516.051 297.756L517.007 297.577L517.306 296.92V296.144L517.126 295.369L516.648 295.07ZM522.323 276.985L522.144 276.508L521.965 276.03L521.666 275.732L521.188 275.255L521.009 274.777L521.786 274.3L521.487 274.001L521.188 273.822H520.711H520.233L520.711 271.912L521.009 271.136L521.965 270.659V270.36L521.666 270.062L521.368 269.883L521.069 270.062L520.591 270.539L520.292 270.838L519.994 270.659V270.36L520.651 269.704L520.83 269.226L520.651 268.749L519.874 268.092L519.396 266.839H518.62L516.887 267.137L517.545 266.003L517.724 265.526L517.425 265.347L516.768 265.526L516.29 265.824L515.633 266.003L514.976 265.705L515.454 265.048L515.275 264.392L514.797 263.735L514.319 263.258L514.02 263.079H513.721H513.423L513.124 262.78V262.601V261.945V261.766L512.646 260.99L512.467 260.691L511.989 260.393L510.854 259.915L510.555 259.736L510.257 259.259L509.779 258.304L509.48 257.826L508.823 257.349L508.046 257.051L507.091 256.871L506.433 257.17L506.254 256.215L506.075 255.916H505.896L505.597 256.215L505.418 256.036L505.239 255.737V254.484L505.059 254.007L504.761 253.529L502.73 251.619L501.953 251.918L501.475 252.216L500.997 252.514L500.818 253.171L500.639 253.827H500.46H500.281H500.101H499.922H499.803H499.623V254.126V254.424V255.081V255.737V256.036V256.334L499.444 256.633L499.265 256.931L499.086 257.11L498.907 257.289L498.727 257.468L498.548 257.647V258.125V258.602L498.727 260.811L498.907 263.019L499.086 263.497L499.265 263.974L499.444 264.153L499.623 264.332L499.803 264.511L499.982 264.69L500.46 264.869L500.938 265.048V265.347V265.645V265.944V266.242L501.117 266.541L501.296 266.839L501.475 267.137L501.654 267.436V267.615V267.794L501.177 268.57L500.699 269.346L500.997 269.525L501.296 269.704L501.117 270.002L500.938 270.301L500.46 270.599L499.982 270.898H499.504L499.026 270.718L498.25 270.42L497.473 270.122H497.294H497.115L496.935 270.301L496.756 270.48L496.577 270.957L496.398 271.136L496.218 271.315H495.561L495.263 271.614L494.964 271.912L494.785 272.211L490.185 269.704L487.198 268.092L487.019 270.122L486.541 270.778L484.331 271.077L483.853 271.256L483.674 271.435V271.793L483.495 272.091V273.345L483.196 275.255L483.375 275.553L483.554 275.732L484.211 275.553L484.868 275.374H485.167L485.346 276.03L480.567 286.774L480.388 287.43L480.209 288.206L480.388 289.639L480.567 290.116L480.747 290.594L480.926 290.773L482.061 290.952L491.081 291.131L502.969 288.147H503.148V288.326L502.969 288.624L502.79 288.923L502.61 289.221L502.431 289.519L501.953 291.549L501.774 291.847L501.595 292.325L502.073 293.28L504.283 292.623L505.239 292.444L507.628 292.921L508.584 292.742L510.018 291.966L510.794 291.668L517.306 290.713L518.261 290.892L519.516 291.549L519.695 290.892L520.352 288.863V288.087L520.053 287.609L519.396 286.177L520.173 281.402L520.352 281.104L520.531 280.626L520.711 280.328L521.368 279.552L521.547 279.074L522.323 276.985Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-6"
                                d="M470.71 354.099H471.606L474.653 352.965L475.25 352.786L475.728 352.667H476.385L477.042 352.786L477.341 352.965L477.998 353.622L478.595 353.741L479.253 353.443L479.85 352.965H480.208H480.507H480.806H481.164L481.761 353.741L483.195 356.785L483.852 357.859L484.33 358.516L484.808 359.471L484.629 360.545L484.33 361.381L483.852 362.157L483.195 362.634L482.538 363.112L481.582 363.231H480.985L480.507 363.589L480.328 364.663L480.507 365.141L480.686 365.618L480.806 366.096V366.573L480.686 366.872L479.551 367.707L479.253 368.304L479.372 369.259L479.85 371.169L480.029 372.303L479.85 375.108L480.029 376.242L480.328 376.839L481.284 378.451L481.463 379.227L481.582 380.838L481.761 381.435L482.06 382.271L483.673 383.703L485.107 386.389L485.704 387.165L487.795 388.239L490.961 391.104L491.917 392.716L492.096 394.566L491.439 397.61L490.483 400.296L488.87 402.683L488.452 403.638L488.094 404.593L487.974 405.19L487.616 405.846L487.317 406.145L487.018 406.324L486.54 406.622L484.629 406.801L483.374 407.279L482.717 407.876L480.985 413.128L479.85 415.336L476.863 419.455L474.772 421.484L472.741 424.05L471.009 427.035L469.874 430.019L469.754 432.108L470.531 436.047L470.71 438.136L470.531 440.046L470.053 441.598L469.277 443.209L469.097 443.806L468.918 443.03L468.44 442.254L467.843 441.896L466.887 441.598L465.453 441.777L464.975 441.598L464.677 441.419L463.721 440.822L463.243 440.643H462.765L462.108 440.941H461.63L461.331 441.299L461.152 441.777L460.854 442.254L460.376 442.374L459.778 441.777L458.942 439.688L458.165 439.211L457.21 439.569L456.612 440.046L455.298 441.299L454.522 441.896L453.745 442.374L452.789 442.553L451.833 442.732L450.878 442.851L449.324 443.985L448.488 444.105L447.532 443.687L447.054 443.03L446.756 442.075L446.457 441.12L445.68 440.524L443.888 439.688L443.112 439.211L442.634 438.435L442.036 436.405L441.559 435.928L440.722 435.57L439.169 434.495L438.393 434.137H436.481L432.837 434.973L427.58 435.271L427.281 435.45L426.505 436.047L426.027 436.226H424.892L424.414 436.047L421.905 434.973L420.949 434.794L419.814 434.973L419.038 435.092L418.082 434.495L418.261 433.54L418.859 432.585L419.516 431.929L420.173 430.855L419.994 430.019L419.336 429.422L418.56 428.646L418.082 427.214L418.261 425.483L419.038 422.14L419.217 420.051L418.859 416.291L419.038 414.202L420.472 411.875L422.682 408.831L424.115 405.966L423.817 405.07L424.892 404.235L425.549 402.981L425.669 402.325L426.027 400.296L426.147 399.52L426.505 399.162L431.403 394.566L431.702 394.148L431.881 393.491L432.18 392.835L432.359 392.238L432.658 391.283L433.315 390.149L433.614 389.851L433.912 389.552L435.525 389.373L435.824 389.194L438.213 387.941L442.514 384.3L443.112 383.822V383.524L443.41 382.39L443.888 379.704L444.068 378.928L444.366 378.272L444.545 377.973L446.158 376.72L446.756 375.944L447.234 375.108L447.532 374.511L449.145 374.034L449.743 373.676L450.101 373.377L450.878 372.781L451.176 372.124L453.566 367.528L453.745 367.349L454.044 367.051L454.342 366.752L454.999 366.573L455.477 366.394H456.134H456.732L457.21 366.573L457.508 366.752L457.688 366.872H457.867L458.643 367.707L458.823 367.827H459.121L459.3 367.707V367.528V366.573L459.42 366.275L459.599 365.797L460.077 365.141L460.256 364.842L460.376 364.365V364.067V363.887L460.256 363.231L460.077 363.112V362.753V362.455V362.336V361.978V361.679L460.256 361.381V361.023V360.724V360.545L460.077 360.247L459.121 358.516L458.942 356.785L458.643 355.472V355.173V354.696L458.942 354.397L459.3 354.099L459.42 353.92L459.778 353.741L460.256 353.622L460.674 353.443L463.542 353.263L464.318 352.965L464.796 352.488L465.633 353.263L470.71 354.099Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-7"
                                d="M423.16 275.732L423.458 275.911L428.417 276.031L430.149 276.508L430.746 276.687L431.403 276.866H432.18L433.315 276.508H433.434L433.793 276.687L433.912 276.986L434.271 277.642L434.39 278.239L434.569 278.717L434.39 279.373L434.271 280.149L433.912 280.985L433.793 281.283V281.581V281.88V284.446L433.912 285.222L434.39 287.908L434.569 288.206L434.749 288.565L435.047 288.684L435.824 289.042L436.003 289.341L436.123 289.52V289.818L436.003 290.116V290.594L436.123 290.952L437.258 292.325V293.459L436.959 293.936V294.115L436.6 294.235L436.003 294.593L435.645 294.712V294.891V295.19L435.824 297.577L436.003 297.756L436.123 298.055H436.6L436.959 298.234L437.258 298.055H437.437L438.213 297.577H438.393H438.691H438.99L439.289 297.876L439.468 298.234V298.83L439.289 299.129V299.606L439.468 299.965L440.722 301.397L441.379 301.218H441.559L441.678 301.039L442.156 301.874L445.322 302.77H445.8H446.457L446.577 302.65H446.935L447.532 303.128L447.891 303.247H448.189L448.667 303.128L449.444 303.247L456.433 304.56L457.03 305.635L458.165 310.409L457.986 310.887L457.389 311.006H457.03L455.955 311.364L455.179 311.663L453.864 312.319L453.267 312.797L452.968 313.095V313.215L452.789 313.573V314.349V314.826V315.125L452.968 315.483V315.96V316.259V316.855V317.214L452.789 317.333L452.311 317.512L452.013 317.691H450.878L450.22 317.81L450.101 318.288L449.922 318.646V322.287L450.22 323.063L450.878 323.66L452.49 325.271L455.477 327.778L455.179 328.255L454.701 330.344L454.342 332.374V334.284L453.745 336.015L453.566 337.626L453.267 337.745L452.968 337.626L452.49 337.745L452.311 337.924L442.933 335.537L440.722 335.418V335.716L440.902 336.194V336.373L440.722 336.671V336.969L440.603 337.149L440.424 337.328L440.125 337.447H439.647L435.346 337.745L434.749 337.626L434.39 337.447L434.271 337.328L433.912 337.149L433.793 336.85V336.492V335.716L434.092 334.284L433.912 333.508L433.136 332.075L432.359 331.896L428.835 331.12L425.848 330.643H425.191L424.593 330.941L423.936 331.299L423.638 331.598L423.339 331.777L422.025 333.806L421.726 334.164L418.739 335.418H418.381L417.903 335.239L417.305 334.94L414.916 333.03L413.96 332.374H413.184L407.449 333.806H407.329L403.506 335.537L402.55 336.194L402.073 336.373H400.639L397.951 335.716L397.652 335.418L397.473 335.239V334.582L397.353 334.164V333.806L397.473 333.03V332.254L397.353 331.896L397.174 331.777L396.218 330.941L394.964 330.165L392.933 328.136L392.574 327.479L392.276 327.181V327.002L392.097 326.883L391.798 325.092L391.619 324.973V324.615L391.32 324.495H391.141L391.021 324.316H390.543L389.289 324.137L388.93 324.316L388.453 324.495V324.794V325.092V325.928V326.047L388.333 326.405V326.525L388.154 326.704L387.198 327.3L386.422 327.778L385.944 327.957L368.978 327.479L366.947 323.361L366.469 321.809V321.451L367.545 318.765L367.724 318.467V317.99L367.903 317.214L367.724 316.736L366.589 312.439L366.29 311.961L365.992 311.663L365.155 310.887L363.901 309.574L363.781 308.977V308.679L363.901 308.5L364.259 308.32H364.558L366.469 308.022L368.799 307.365L369.158 307.246L369.456 306.888L369.635 305.933L369.755 305.635L369.934 305.336L370.233 305.157H370.591L371.846 305.933L372.921 306.411L374.056 306.59H375.31L375.788 306.411L376.087 306.291L376.445 305.635L377.043 302.949L377.222 302.65L377.879 301.218L377.999 300.919V300.561L377.879 300.263L377.7 300.084L377.521 299.965H377.222H377.043L376.923 299.606V299.308L377.879 297.876L377.999 297.577L378.178 297.398V297.279V296.921L378.357 295.846V295.19V295.07L378.477 294.593L378.656 294.115L378.954 293.936L379.134 293.757H379.731L383.375 295.369L384.211 295.488L384.331 295.667H384.689L385.764 297.1L386.422 297.756L387.975 298.353L388.632 299.01L389.408 299.308L390.364 299.129L391.977 300.263L393.709 300.561L402.252 298.711L402.73 298.532L405.239 296.145L405.597 295.667L405.717 295.19L405.896 294.891L405.717 294.593L405.418 294.235L405.239 294.115L404.761 293.936H404.462L403.685 294.115H403.387H403.208V293.757V293.28L404.283 290.952L404.641 289.818L404.761 289.042L405.239 288.386L406.194 286.953L406.374 286.655V286.177L405.717 285.521V285.401L405.597 284.924V284.566L406.194 283.491L406.374 282.357V280.507L405.896 279.194V278.896L406.075 278.597L406.852 278.12L407.15 277.941L407.449 277.344V276.866L407.329 276.508L407.031 276.031L406.672 275.076V274.3L406.852 273.345L407.329 272.091L407.628 271.316L407.927 270.838L408.405 270.181L408.883 269.883L409.54 269.704H410.018L410.675 270.062L411.451 270.659L412.049 271.136L412.885 271.316L413.482 271.435L414.259 271.316L415.215 270.957L418.082 268.928L418.381 268.749L418.739 268.928L419.217 269.107L420.292 270.062L421.726 271.614L421.905 271.912V272.091V272.569L421.547 273.345V273.703L421.726 273.822V274.001L421.905 274.3L422.383 274.956L423.16 275.732Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-8"
                                d="M582.657 252.634V251.679L582.179 250.426L581.701 249.471L580.745 248.695L579.61 248.217L578.953 248.396L579.431 249.53L580.088 250.187L581.223 251.798L581.88 252.455L582.657 252.634ZM623.875 226.969L624.054 226.492L624.234 225.835L624.413 225.537L624.891 225.716L625.07 226.492L625.369 226.671L625.667 226.372V225.238L625.966 225.059L626.265 225.238L626.563 225.537L630.207 231.087L630.864 232.699L631.044 234.43L630.864 236.638L631.044 238.847L632.179 239.324L635.345 238.847L636.3 239.622L636.958 240.398L637.615 240.697L638.75 239.921L639.526 239.145L640.482 238.488L641.438 238.309L642.394 238.966L642.872 239.921L643.051 241.353V242.786L643.349 245.472V246.606L643.051 247.561L642.573 248.814L643.827 248.516L643.648 249.292L642.692 253.708L642.394 254.007L642.214 254.186L641.916 254.365L641.259 254.544L638.869 254.723L638.212 254.902H637.555L632.298 253.649L631.163 253.828H630.207H629.431L628.953 254.007L627.34 254.783L626.085 254.126L621.964 255.26L621.486 256.036L621.008 256.334L619.753 257.588L619.574 257.886V258.185L620.052 258.841L620.709 260.095L619.574 261.229L616.229 262.363L612.764 264.273L611.988 264.929L610.733 266.839L608.224 269.226L607.268 269.406L606.611 269.226L604.879 268.272L604.102 267.615L603.624 267.436L602.848 267.257L602.37 267.078L602.071 266.899L600.936 265.765L600.638 265.586L599.025 265.407L598.845 265.228L601.354 261.766L596.934 262.064L595.679 261.885L595.381 261.706L595.082 261.527L594.425 261.229H593.589L591.677 262.96H591.199L590.064 262.78H589.586L588.929 263.079L588.451 263.556L588.153 264.034L587.675 264.511L586.719 265.168L586.898 264.69L587.197 262.96L585.584 262.005L581.94 261.229L581.283 260.453L581.104 259.498L581.402 258.841L582.179 258.662L583.613 259.916L584.389 260.214V259.259L584.09 258.782L576.803 250.545L575.548 249.411L575.369 249.232L575.19 249.053L574.413 248.277L574.712 247.023L574.533 243.084L574.353 241.95L573.577 240.518L572.8 239.384L572.502 238.906L572.322 238.608V238.309V238.011L573.099 236.399L573.278 236.101L573.457 235.325L573.278 234.848L572.143 234.669L571.964 234.49L571.785 234.191V233.415L571.605 232.759V232.46L571.785 232.162L573.696 229.655L573.995 228.998L574.473 227.745H574.772L576.205 227.268L581.104 224.403L582.537 224.224L583.314 224.701L583.971 225.656L586.181 229.476L586.48 230.61V231.744L585.823 234.907V235.862L586.301 236.638L586.958 236.459L587.734 236.161L588.69 235.982L589.467 236.28L590.243 236.758L590.9 237.414L591.378 238.19L592.155 238.847L592.932 239.026L594.664 238.727L596.575 239.026L597.531 239.503L598.308 240.16L599.084 240.637L600.518 240.816L601.175 241.294L602.131 243.025L602.788 243.502L603.087 242.547L602.908 241.413L602.728 240.458L602.908 239.682L603.684 239.205H604.64L605.118 239.861L605.596 241.891L605.894 242.666L606.372 243.144H606.85L607.328 242.189L608.284 240.936L610.972 243.323L611.928 242.547L612.107 240.637L611.808 231.625L612.107 230.968L612.585 231.147L614.497 232.878L616.229 233.654L617.663 233.356L618.798 232.222L620.052 229.357L620.709 227.626L620.888 226.492L620.709 225.537L619.574 224.104L619.096 223.149L619.873 221.12L620.351 220.463L621.307 220.165L622.083 220.344L622.561 221.001L622.74 221.956V223.09L621.964 226.074V226.73L623.875 226.969Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-3"
                                d="M212.767 234.251L213.723 234.131L214.38 233.654L215.933 230.491L216.59 229.834L217.247 229.357L218.024 228.879L218.8 228.7H220.891L228.478 230.61L230.389 231.386L232.122 232.52L234.511 234.251L241.321 241.711L246.04 249.292L246.219 249.471L246.697 249.769L247.354 249.948L249.386 249.292L255.897 256.573L257.151 258.662L257.629 260.393L255.538 264.81L247.354 275.076V274.956L246.996 273.822L246.697 273.345L245.264 271.315L244.607 270.181L243.83 267.018L243.352 266.421L242.098 264.81L241.62 264.153L241.321 263.079L240.963 260.691L239.708 256.275L239.23 255.32L239.589 254.842L239.409 254.066L239.23 250.426L239.111 249.292L238.752 248.516L235.945 243.621L235.108 242.666L226.267 236.161L222.743 234.609L218.979 233.654L217.367 233.475L216.59 233.952L215.933 235.027L215.634 236.817L214.678 237.414L213.902 239.026L212.767 240.279L211.393 241.055H209.959L208.346 240.458L204.224 237.414H203.448L201.238 237.892L200.939 237.414L200.76 236.937L200.581 236.817L200.461 237.295L199.983 238.071L199.625 238.369L199.326 238.548L197.414 236.638L194.726 235.982L186.662 236.459L181.883 238.071H179.553L178.239 237.772L176.984 236.937L174.953 234.728L172.564 232.997L168.741 230.968L164.32 228.7L163.185 227.626L162.887 226.372L163.544 222.254L163.663 221.299L164.32 220.523L164.977 219.867L166.531 219.091L167.188 218.434L166.829 217.479L164.141 213.719L162.887 211.332L162.588 209.422L163.544 207.989L164.619 207.213H165.933L167.307 207.691L168.741 208.467L169.517 208.765H170.174L170.652 208.168L170.473 207.333L170.174 206.557L169.697 205.96L169.099 205.482L167.188 204.348L166.71 203.692L166.232 203.095L166.71 202.618L167.188 201.364L167.008 200.708L166.531 199.932V199.574V199.454V199.156L166.829 198.977L167.486 198.798H168.621L169.398 198.499L171.429 196.888L172.086 196.291L172.385 196.112H173.042L173.818 196.768L174.296 196.888L176.387 197.544L178.239 197.723L178.717 198.201L178.896 199.275V201.663L179.195 202.438L180.33 204.169L180.808 205.482L181.883 207.512L182.361 208.168L183.197 208.646L183.974 208.944H185.885L186.483 209.243L186.961 210.198L187.618 212.287L188.573 214.017L189.828 215.569L199.326 223.985L200.282 224.283L200.76 224.462L201.238 224.761L202.671 226.372L203.926 227.447L204.702 227.805L207.092 228.223L207.868 228.7L209.959 231.087L210.437 231.863L210.915 233.296L211.512 233.654L211.871 233.773L212.767 234.251Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-10"
                                d="M400.639 336.372H402.072L402.55 336.193L403.506 335.537L407.329 333.806H407.449L413.183 332.374H413.96L414.916 333.03L417.305 334.94L417.902 335.238L418.38 335.417H418.739L421.726 334.164L422.024 333.806L423.339 331.777L423.637 331.598L423.936 331.299L424.593 330.941L425.19 330.643H425.847L428.834 331.12L432.359 331.896L433.135 332.075L433.912 333.508L434.091 334.283L433.792 335.716V336.492V336.85L433.912 337.148L434.27 337.327L434.39 337.447L434.748 337.626L435.346 337.745L439.647 337.447H440.125L440.423 337.327L440.602 337.148L440.722 336.969V336.671L440.901 336.372V336.193L440.722 335.716V335.417L442.932 335.537L452.311 337.924L452.132 338.103L451.833 338.402V338.7L451.654 339.536L452.012 341.386L453.087 342.52L457.986 344.251L461.152 344.43L462.765 345.027L462.944 345.206L463.243 345.683L463.422 345.982H463.721L464.318 345.862L464.676 345.982L464.975 346.638L465.154 347.295L464.676 351.234L464.796 352.488L464.318 352.965L463.541 353.263L460.674 353.443L460.256 353.622L459.778 353.741L459.42 353.92L459.3 354.099L458.942 354.397L458.643 354.696V355.173V355.472L458.942 356.785L459.121 358.516L460.077 360.247L460.256 360.545V360.724V361.023V361.381L460.077 361.679V361.978V362.336V362.455V362.753V363.112L460.256 363.231L460.375 363.887V364.067V364.365L460.256 364.842L460.077 365.141L459.599 365.797L459.42 366.275L459.3 366.573V367.528V367.707L459.121 367.827H458.822L458.643 367.707L457.866 366.872H457.687L457.508 366.752L457.209 366.573L456.731 366.394H456.134H455.477L454.999 366.573L454.342 366.752L454.043 367.051L453.745 367.349L453.565 367.528L451.176 372.124L450.877 372.781L450.101 373.377L449.742 373.676L449.145 374.034L447.532 374.511L447.233 375.108L446.755 375.944L446.158 376.72L444.545 377.973L444.366 378.272L444.067 378.928L443.888 379.704L443.41 382.39L443.111 383.524V383.822L442.514 384.3L438.213 387.941L435.824 389.194L435.525 389.373L433.912 389.552L433.613 389.851L433.315 390.149L432.657 391.283L432.359 392.238L432.18 392.835L431.881 393.491L431.702 394.148L431.403 394.566L426.505 399.162L426.146 399.52L426.027 400.296L425.668 402.325L425.549 402.981L424.892 404.235L423.816 405.07L423.339 403.638L421.905 402.683L420.471 402.026L419.037 401.549H415.871L414.736 401.251L410.674 399.341L408.882 396.953L407.628 395.879L406.373 395.222L403.805 394.446L401.296 392.536L400.161 391.88L397.652 391.582L393.709 389.552H392.275L391.14 390.03L389.289 391.402L388.153 392.059L385.465 392.238L382.777 391.402L376.266 386.986L372.323 384.3L366.947 380.659L363.303 377.197L358.046 372.422L355.358 370.692L349.504 368.662L344.426 365.797L336.063 358.695L333.793 355.83L334.45 355.054L338.094 351.055L339.826 349.802L345.382 347.593L347.413 346.937L354.103 344.43H354.223L354.402 344.132L354.581 343.773V343.475L354.402 343.177L354.223 342.998L352.969 341.386L352.67 340.968L352.491 340.61V340.312V340.133V339.834V339.536L352.67 339.058L353.148 338.581L356.135 335.238L356.314 335.059L356.612 334.94H357.09H357.568L358.046 334.761L358.524 334.283L362.467 330.344L364.378 328.912L368.201 327.957L368.978 327.479L385.943 327.957L386.421 327.778L387.198 327.3L388.153 326.703L388.333 326.524V326.405L388.452 326.047V325.928V325.092V324.793V324.495L388.93 324.316L389.289 324.137L390.543 324.316H391.021L391.14 324.495H391.32L391.618 324.614V324.973L391.797 325.092L392.096 326.882L392.275 327.002V327.181L392.574 327.479L392.932 328.136L394.964 330.165L396.218 330.941L397.174 331.777L397.353 331.896L397.472 332.254V333.03L397.353 333.806V334.164L397.472 334.582V335.238L397.652 335.417L397.95 335.716L400.639 336.372Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-4"
                                d="M605.656 298.353L604.7 298.651L604.521 298.83L604.043 299.129H603.864H603.565L603.386 298.95L603.206 298.771L600.996 297.816L599.861 297.159L599.204 296.383L598.726 294.951L598.069 293.697L597.113 293.041L595.859 293.697L595.202 295.309L595.023 296.264V297.04L595.202 297.816L596.157 300.024L596.635 300.681L597.113 300.979L598.248 301.158L598.726 301.457L598.905 303.068L597.173 305.754V307.007L597.651 307.306L598.308 307.007L598.786 306.53L599.264 306.231H600.04L600.22 306.709L600.399 307.365L600.877 307.843H601.534L603.445 307.365H604.7L605.178 307.186L605.656 306.53V304.918L603.923 303.008L603.744 301.755L604.401 301.098L606.313 299.845L606.611 299.069L606.313 298.592L605.656 298.353ZM645.381 277.463V277.165L645.082 275.911L644.903 275.135L645.082 274.18L645.261 273.225V272.569V272.27V271.972L644.604 271.494L642.573 270.838H642.095L641.796 270.659L641.02 269.525L640.363 269.047L640.064 269.346L639.586 269.823H638.929L636.54 269.346L634.628 268.689H633.493L632.716 268.868L631.761 268.689L631.462 268.51L631.163 268.331L629.55 266.123L629.252 265.466L628.953 265.168L628.475 264.869L626.444 264.213H625.787H625.309L625.13 264.392H624.831L624.353 264.213L623.218 263.735H622.74L622.442 263.914V264.869L622.263 264.69L621.964 264.034L621.187 262.303L620.052 260.572L616.707 261.706L613.242 263.616L612.466 264.273L611.211 266.182L608.702 268.57L607.746 268.749L607.089 268.57L605.357 267.615L604.58 266.958L604.102 266.779L603.326 266.6L602.848 266.421L602.549 266.242L601.414 265.108L601.116 264.929L599.503 264.75L599.324 264.571L601.832 261.109L597.412 261.408L596.157 261.229L595.859 261.049L595.56 260.87L594.903 260.572H594.126L592.215 262.303H591.737L590.602 262.124H590.124L589.467 262.422L588.989 262.9L588.69 263.377L588.212 263.855L587.257 264.511L586.6 264.81L586.42 264.989V265.287L586.241 265.466L585.584 265.645L585.285 265.824L584.628 266.302L583.971 266.779L581.582 268.809L580.148 270.539L579.67 271.017L579.013 271.315L578.356 271.494L577.878 271.793L577.4 272.27L576.444 273.882L575.966 274.359L575.668 274.538L572.98 275.195L571.845 275.971L571.188 276.926V278.06V278.358V278.537L571.665 279.313L571.845 279.492L572.143 279.97L572.323 280.149L571.845 281.88L573.756 282.835L574.533 283.133H575.309L576.086 282.954L576.863 282.775L577.818 283.073L578.953 284.804L579.431 287.192L580.088 289.4L581.701 290.534L583.434 290.713L585.166 290.534L590.841 288.803L594.306 288.505L595.082 288.684L596.516 287.251L598.905 286.774L603.505 287.43L604.76 287.251L605.417 286.296L605.715 285.162L606.373 284.207L607.03 284.028L607.507 284.327L607.806 284.804L608.284 285.282L608.762 285.58H609.419L610.674 285.401H611.45L612.705 286.535L614.437 287.013L614.736 287.669L615.034 288.445L615.811 289.102L616.588 289.579L617.543 289.878L619.455 290.176L620.411 289.997L620.709 289.34L620.889 288.385L621.187 287.43L621.964 286.774L622.621 287.43L623.278 288.564L623.577 289.699V291.728L623.875 292.504L624.652 292.802L625.13 292.623L627.161 291.37L627.818 290.713L628.296 290.057L629.073 288.445L630.327 287.192L631.761 287.013L633.374 287.311L634.986 287.49L635.464 287.311H635.644H635.942L636.42 287.49L637.077 287.669L637.734 287.49L638.033 286.834L637.854 286.356L637.555 286.177L637.256 285.998L636.121 285.521L635.345 285.043L635.046 284.267L635.225 283.491L638.69 281.76L639.825 280.626L640.482 279.194L640.661 278.239L640.96 277.761L643.648 276.329L644.305 276.15L645.381 277.463ZM626.862 302.173L625.429 303.307L624.771 303.605H623.816L623.159 304.381L623.457 305.157L624.234 305.814L625.01 306.112L625.966 306.41L626.623 306.231L626.922 305.575L627.878 302.232L627.699 301.755L626.862 302.173Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-12"
                                d="M308.645 263.556L313.364 261.945L316.231 257.707L318.621 252.753L319.397 251.858L320.054 251.201L321.01 250.903L321.607 251.022L322.384 251.679L323.22 252.932L323.519 254.663V258.184L323.997 259.259L325.729 259.915L336.482 261.169L337.318 260.393L338.573 255.618L339.349 255.32L340.604 254.663L345.861 254.544L347.593 254.186L348.847 253.589L350.162 251.858H350.58L351.058 253.111L351.894 258.304L352.193 259.736L352.85 261.348L354.104 262.422L355.538 263.258L359.481 264.153L371.547 264.989L373.399 264.511L372.443 267.674L372.145 269.107V270.36V271.793L372.324 272.748V273.345V274.001H371.846L369.755 273.524H369.277L368.979 273.703L368.68 273.822L368.202 274.598V275.254L367.067 278.597L366.291 279.552L365.514 280.149L364.558 283.014L364.26 283.969H359.481L358.704 283.67L357.748 283.014L356.972 282.357L356.135 282.059H355.359L353.925 282.357L353.328 282.715L352.85 283.193V283.67L352.671 284.148V284.565L352.969 285.52L353.925 286.654L353.328 288.564L352.85 288.863L352.671 289.042V289.34L353.148 289.997L354.403 291.25L355.06 292.026L355.18 292.325L355.06 292.504L353.925 292.683H353.626L353.328 292.802L353.148 293.16H352.671L352.193 293.638L350.281 297.398L349.684 298.233L349.027 298.83L348.25 299.487L345.861 300.561L345.562 301.218L345.203 301.516L345.084 301.695L343.77 303.426L343.172 304.858L342.515 306.112L343.172 307.365L346.159 311.364L347.115 312.14L349.027 313.214L349.206 313.573L349.325 313.871L349.505 314.348L349.982 314.647H350.759L352.491 313.871L353.148 314.05L353.447 314.647L358.226 316.855L358.823 318.168L359.301 319.243V320.019V321.153L359.66 322.287L360.436 322.764L361.392 323.063L361.99 323.361L362.647 324.017L363.304 324.972L363.423 325.271L363.782 325.748L364.26 327.181V327.479L364.379 328.912L362.467 330.344L358.525 334.283L358.047 334.761L357.569 334.94H357.091H356.613L356.315 335.059L356.135 335.238L353.148 338.581L352.671 339.058L352.491 339.536V339.834V340.133V340.312V340.61L352.671 340.968L352.969 341.386L354.224 342.997L354.403 343.176L354.582 343.475V343.773L354.403 344.131L354.224 344.43H354.104L347.414 346.937L345.383 347.593L339.827 349.802L338.095 351.055L334.451 355.054L333.794 355.83L332.539 354.218L331.583 353.621L330.508 353.741L327.342 355.352L326.386 355.472L325.132 355.352L323.997 354.696L317.665 350.1L312.109 346.161L307.689 342.997L305.299 340.491L300.998 334.462L298.489 332.075L292.934 328.136L279.971 318.765L273.46 314.169L268.083 310.409L263.483 307.067L261.094 304.679L260.616 304.56L257.928 300.919L257.45 299.487L256.673 296.622V295.368L256.853 294.234L257.151 293.279L257.331 292.325L257.151 291.25L256.016 288.684L255.897 287.609L255.718 286.177L255.538 285.222L255.24 284.267L254.284 282.238L253.985 281.283V279.074L253.507 278.597L250.162 276.687L248.43 276.03L247.474 275.434L247.355 275.075L255.538 264.81L257.629 260.393L257.151 258.662L255.897 256.573L249.386 249.291L258.406 245.054L258.227 244.218L246.996 228.58L261.094 223.328H264.439L265.694 226.193L266.65 227.924L273.28 235.862L278.716 245.352L279.612 245.83L283.137 246.785L288.334 248.694L294.547 252.156L306.434 259.617L307.39 261.169L308.764 262.601L308.645 263.556Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-13"
                                d="M664.258 256.394L669.336 255.976L670.889 256.394L671.068 257.826L670.889 258.781H671.367L673.279 257.349L676.146 256.096L676.743 256.573L677.4 257.23L678.177 257.826L680.566 257.707L681.343 257.826L681.702 258.006L682 258.96L680.746 260.691L678.834 261.646L675.19 263.079L671.725 265.287L668.858 265.944L667.424 266.541L666.469 267.973L666.17 271.435L664.915 272.091L663.482 271.315H662.825L662.526 272.27L662.347 273.046L662.227 273.703L661.869 274.3L661.272 274.956H659.659L656.791 273.046L655.417 272.867L654.103 272.27L652.849 270.659L651.594 269.584L650.34 270.062L650.16 270.957L651.116 272.39V273.345L650.818 274.121V274.777L651.116 275.255L652.849 276.508L653.028 276.985L653.327 277.463V278.716L652.849 280.029L652.072 281.104L651.116 281.402L649.981 280.984L647.652 279.552L647.174 279.373H645.262L644.784 279.194L644.904 278.716H645.381L646.218 278.597L646.696 278.418L646.815 277.94L646.516 277.642L645.74 277.463H645.381V277.344L645.083 276.031L644.904 275.434L645.083 274.479L645.262 273.345V272.867V272.569V272.27L644.605 271.793L642.574 271.136H642.096L641.917 270.838L641.14 269.704L640.483 269.405L640.184 269.704L639.706 270.181L639.049 270.36L636.72 269.704L634.808 269.107L633.673 269.226L632.897 269.405L631.941 269.226L631.463 269.107L631.164 268.928L629.551 266.72L629.253 266.063L628.954 265.765L628.476 265.466L626.385 264.81L625.788 264.631L625.31 264.81L625.131 264.989H624.832L624.175 264.631L623.219 264.153H622.741L622.443 264.332V265.287L622.263 265.108L621.965 264.511L621.009 262.9L619.934 261.169L621.009 259.915L620.352 258.662L619.934 258.006V257.707L620.053 257.349L621.308 256.096L621.785 255.797L622.263 255.021L626.385 253.887L627.64 254.544L629.432 253.708H629.91H630.686H631.642L632.717 253.589L637.974 254.842L638.572 255.021L639.229 254.842L641.618 254.663H642.215L642.574 254.544L642.693 254.365L643.052 254.186L644.008 249.769L644.127 248.993L646.516 248.217L647.95 248.038L648.249 247.74L648.727 246.427L648.906 245.949L649.503 245.531L650.16 245.83L651.295 247.561L652.072 248.038L653.147 248.516L655.417 248.695L655.537 248.814L655.716 248.993V249.291L655.537 249.59V250.903L656.313 251.201H657.269L658.105 251.5L659.838 254.186L660.913 255.618L662.526 256.275L664.258 256.394Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-14"
                                d="M123.162 14.2502L125.671 15.981L132.481 20.5768L139.948 25.6501L147.714 30.9024L155.778 36.095L163.663 41.4667L171.31 46.7191L178.598 51.4342L185.228 55.9106L191.083 59.6708L195.682 62.8341L199.147 65.2215L201.716 66.833L202.672 68.0864L203.448 69.5189L203.747 70.7723L203.926 73.6372L204.404 75.0696L206.614 78.7105L211.214 83.6047L213.424 85.9921L215.515 88.3198L218.323 91.4831L220.533 94.169L222.922 96.8548L225.133 99.4213L227.522 102.107L229.732 104.614L231.943 107.359L234.153 109.866L236.423 112.373L239.41 115.894L240.186 116.193L240.963 116.491L245.264 123.773L247.355 125.504L257.928 128.548L258.585 128.846V129.503L258.406 130.1L247.653 150.512L237.319 170.029L235.288 175.043L234.332 186.323V186.92L234.511 187.398L238.932 195.813L239.708 197.365L239.589 197.723L239.111 198.201L230.509 203.095L229.732 203.692V204.527L230.031 205.124L246.996 228.581L258.227 244.218L258.406 245.054L249.386 249.291L247.355 249.948L246.698 249.769L246.22 249.471L246.041 249.291L241.321 241.711L234.511 234.251L232.122 232.52L230.389 231.386L228.478 230.61L220.891 228.7H218.801L218.024 228.879L217.247 229.357L216.59 229.834L215.933 230.491L214.38 233.654L213.723 234.131L212.767 234.251L211.871 233.773L211.513 233.654L210.915 233.296L210.437 231.863L209.959 231.087L207.869 228.7L207.092 228.223L204.703 227.805L203.926 227.447L202.672 226.372L201.238 224.761L200.76 224.462L200.282 224.283L199.326 223.985L189.828 215.569L188.574 214.017L187.618 212.286L186.961 210.198L186.483 209.243L185.886 208.944H183.974L183.197 208.646L182.361 208.168L181.883 207.512L180.808 205.482L180.33 204.169L179.195 202.438L178.896 201.662V199.275L178.717 198.201L178.239 197.723L176.387 197.544L174.297 196.888L173.819 196.768L173.042 196.112H172.385L172.086 196.291L171.429 196.888L169.398 198.499L168.622 198.798H167.487L166.829 198.977L166.531 199.156V199.454V199.574V199.932L167.009 200.708L167.188 201.364L166.71 202.617L166.232 203.095L165.276 201.662L164.141 200.708L159.9 199.156H157.809L157.331 198.977L156.853 198.201L157.033 197.365L157.331 196.888L158.168 196.768L160.497 195.813L160.378 193.724L159.542 191.038L159.9 188.532L160.677 188.054L161.453 187.756L162.11 187.278L162.289 186.443L161.812 185.667L160.856 185.189L159.064 184.413L157.69 183.16L156.555 181.548L155.3 180.116L153.568 179.997L151.776 180.116L148.311 179.818L139.948 181.071H137.857L136.901 180.594L135.348 179.042L134.392 178.684L132.302 178.385L131.226 177.788L130.748 176.833L130.271 172.715L129.793 171.76L129.315 170.805L126.806 168.119L125.85 167.642H124.715L123.58 168.239L122.505 168.597H121.37L119.518 168.239L116.77 166.985L114.082 164.598L105.539 154.511L104.584 153.854L103.807 155.108L103.329 159.704L102.553 161.315L100.82 161.793L98.9087 161.614L96.8179 161.136L92.5766 159.405H91.6208L90.8442 159.704L88.7534 160.957L87.2003 161.614L86.5432 162.091L86.0653 162.867L86.3639 164.001L87.021 164.598L92.0987 166.985L93.5324 168.119L94.6076 170.029L95.7426 172.357L98.7295 177.311L100.342 179.161L100.641 179.519L100.94 179.997L100.82 180.474L100.342 180.773L97.7737 181.071L96.9971 180.952L96.6984 180.295V179.519L96.8179 178.564L96.9971 177.609L96.5192 175.699L95.5634 174.267L94.1297 173.312L90.1871 171.402L89.4105 171.283L88.5742 171.402L87.2003 172.059H86.5432L85.8861 171.76L85.1095 170.328L84.4524 169.671L83.6758 169.552H82.8992L81.9434 169.671L81.1668 170.029L80.8084 170.507L80.5097 171.104L79.4345 172.238L78.2995 172.715L77.6424 173.312L77.8216 174.744L78.7774 176.654V177.43L78.4787 178.684L76.8658 182.324L76.2684 182.981L74.8347 183.458L74.4763 184.234L74.8347 185.07L75.3126 185.667L75.4321 186.144L74.4763 186.801L73.6997 186.92L71.0116 186.801L70.235 186.92L68.0247 188.054L66.2924 188.532L60.5576 187.398L56.7345 187.577L53.0905 189.487L49.9245 192.65L47.7142 196.768L46.2805 198.977L44.5482 200.23L40.7847 201.961L39.6497 203.572V205.602L40.6055 209.72L40.4263 211.809L40.1276 213.361V215.092L40.7847 217.002L41.7405 218.434L42.1587 219.867L42.3379 221.418L42.1587 223.209L42.5171 224.761L42.995 226.193L43.7716 227.447L44.5482 228.402L45.2053 228.879L45.8026 229.177L47.7142 229.655L48.0726 229.834L47.8934 230.312L47.5947 230.789L46.6389 231.386L44.9066 232.341L44.0703 233.176L42.8158 235.504L42.0392 235.862L37.2603 234.907L33.4968 234.131L24.5961 233.654L23.1624 233.475L14.9187 233.176L7.63079 232.699L1.17921 232.341V220.165V207.989V195.813V183.637V171.283V158.928V146.573V134.099V121.565V109.09L1 96.5564V83.9031V71.2498V58.4174V45.585V32.8123H1.17921V32.6333L4.82316 31.4993L8.58658 30.2459L12.2305 29.1715L16.0537 27.8585L19.6976 26.7841L23.5208 25.5307L27.1647 24.2176L29.9724 23.4417L30.9282 23.1433L34.5721 21.8899L38.3953 20.7559L42.0392 19.5025L45.6832 18.3685L49.4466 17.1151L53.0905 15.981L56.9137 14.7277L60.5576 13.4743L65.6353 12.0418L70.5337 10.49L75.4321 9.05754L80.5097 7.44603L82.72 6.84917L84.9303 6.01358L87.3197 5.41672L89.53 4.76018L91.9195 3.98427L94.4882 3.32773L96.8179 2.55182L99.2074 1.89528L102.373 1L103.329 1.11937L104.464 1.59685L107.451 3.68585L108.228 4.2827L110.796 5.89421L114.56 8.58005L119.637 11.8628L123.162 14.2502Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-11"
                                d="M479.255 247.083L479.374 246.785L479.733 246.606L479.852 246.427H480.211H480.33H480.689L480.808 246.785L481.166 247.083L481.286 246.427L481.585 245.83H482.062H482.421L482.54 246.307V246.904V247.262V247.382L482.72 247.561H482.899L483.018 247.74L482.54 248.038L482.062 248.337L481.943 248.516H481.764L481.943 248.695H482.062L482.242 248.814V248.993L482.421 249.291L482.54 249.59V250.426V251.022L482.421 251.977L482.242 252.753L481.943 253.708L481.585 254.544L481.286 255.32L480.987 255.976L480.808 256.275L480.509 256.573L480.33 256.872L480.031 257.23L479.733 257.528L479.374 257.827L478.598 258.185L478 258.483L477.821 258.662L477.642 258.781L477.522 258.961V259.14L477.642 259.259V259.438L478.419 259.617L479.255 259.736L479.852 260.035L480.509 260.393L482.242 262.124L484.153 264.034L485.408 264.989L486.841 266.063L488.454 266.839L488.275 269.107L487.797 269.585L485.587 270.062H485.109L484.81 270.181L484.631 270.36V270.659L484.452 271.793L484.332 273.822V274.001L484.631 274.3L485.229 274.121L485.886 274.001H486.364V274.598L481.764 285.401L481.585 285.998L481.465 286.834L481.585 288.206L481.764 288.684L482.062 289.042V289.34L483.197 289.519L492.218 289.639L504.105 286.655L504.285 286.834H504.404L504.105 287.311L503.926 287.431L503.807 287.789L503.628 288.087L503.15 290.116L502.97 290.474L502.851 290.952L503.329 291.847L501.716 292.325L500.76 292.802L501.895 293.936L503.628 295.07L505.061 295.667L505.36 295.488L503.807 297.875L503.15 299.009L502.97 299.487V299.964V300.263V300.561L503.15 301.039L503.329 301.397V301.516L503.628 302.471L503.807 302.949L503.926 303.247V303.725L503.807 305.515L503.628 305.635L503.448 305.814L503.329 305.515L503.15 305.336L502.97 305.157H502.851L502.552 305.336L502.373 305.635L502.552 305.814L502.672 305.933L503.329 306.41L503.628 306.59V306.769V307.067L503.448 307.365L503.329 307.843V308.679L503.15 309.275V309.156H502.672L502.194 310.23L501.895 318.646L501.596 319.72L501.119 320.854L500.163 321.809L498.43 322.884L497.952 323.66L498.072 324.018L498.251 324.615H498.43L497.594 324.973L495.085 325.569L493.174 325.928L491.262 325.749L487.976 324.495L482.062 324.316L468.442 320.854H466.591L465.157 321.332L461.513 323.839L458.347 324.495L457.511 325.092L457.869 327.479L457.69 327.658L457.511 327.778L457.212 327.957H457.033L456.137 327.778H455.48L452.493 325.271L450.88 323.66L450.223 323.063L449.924 322.287V318.646L450.103 318.288L450.223 317.81L450.88 317.691H452.015L452.314 317.512L452.791 317.333L452.971 317.214V316.855V316.259V315.96V315.483L452.791 315.125V314.826V314.349V313.573L452.971 313.215V313.095L453.269 312.797L453.867 312.319L455.181 311.663L455.957 311.364L457.033 311.006H457.391L457.989 310.887L458.168 310.409L457.033 305.635L456.435 304.56L449.446 303.247L448.67 303.128L448.192 303.247H447.893L447.535 303.128L446.937 302.65H446.579L446.459 302.77H445.802H445.324L442.158 301.874L441.68 301.039L441.561 301.218H441.382L440.725 301.397L439.47 299.964L439.291 299.606V299.129L439.47 298.83V298.234L439.291 297.875L438.992 297.577H438.694H438.395H438.216L437.439 298.055H437.26L436.961 298.234L436.603 298.055H436.125L436.005 297.756L435.826 297.577L435.647 295.19V294.891V294.712L436.005 294.593L436.603 294.235L436.961 294.115V293.936L437.26 293.459V292.325L436.125 290.952L436.005 290.594V290.116L436.125 289.818V289.519L436.005 289.34L435.826 289.042L435.05 288.684L434.751 288.565L434.572 288.206L434.392 287.908L433.915 285.222L433.795 284.446V281.88V281.581V281.283L433.915 280.984L434.273 280.149L434.392 279.373L434.572 278.716L434.392 278.239L434.273 277.642L433.915 276.986L433.795 276.687L433.437 276.508H433.317L432.182 276.866H431.406L430.749 276.687L430.151 276.508L428.419 276.031L423.461 275.911L423.162 275.732L429.195 263.855L430.271 260.99L429.315 259.438L429.016 258.662V258.304V257.528V256.573V255.976V255.618V255.32L428.837 255.141L428.717 255.021L425.074 254.066L424.416 253.708L424.297 253.589L423.939 253.111L423.64 252.634V252.455L423.461 252.156L422.863 244.875L423.341 244.218L423.64 243.442L428.538 241.413V241.234L429.195 241.413L430.749 241.89L435.527 241.532L439.291 241.234L445.026 240.936L449.327 240.756L454.345 240.458L457.69 240.279L462.767 239.981L467.845 239.622H468.323L468.801 239.802L469.577 240.279L470.354 240.756L470.832 240.936L471.31 241.055L471.609 240.936H472.086L473.221 240.1L474.356 239.324L474.775 239.026L475.252 238.667L475.611 239.503L475.73 240.279H475.91L476.089 240.577L476.208 240.936L477.045 242.01L478 243.144L478.12 243.621L478.299 244.099L478.419 245.173L478.598 246.128L478.896 246.606L479.255 247.083Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path data-region="region-9"
                                d="M391.141 149.438L396.876 146.274L402.551 143.111L401.595 156.54L400.819 170.029L400.64 171.402V172.834L400.341 173.193L400.162 173.67L399.743 173.968L399.266 174.148V174.446L399.086 174.744V176.475L398.907 185.189L398.788 195.634V195.992L398.907 196.291L399.086 196.41H399.266H403.985L408.286 196.589H412.706H417.485H417.605H417.784H417.903H418.083H418.262H418.381L418.561 196.768L419.218 203.393L419.815 210.198L421.129 216.703L422.384 223.209L424.116 231.087L425.848 238.847L426.625 239.801L427.581 240.936L428.537 241.234V241.413L423.638 243.442L423.34 244.218L422.862 244.875L423.459 252.156L423.638 252.455V252.634L423.937 253.111L424.295 253.589L424.415 253.708L425.072 254.066L428.716 255.021L428.835 255.141L429.015 255.32V255.618V255.976V256.573V257.528V258.304V258.662L429.313 259.438L430.269 260.99L429.194 263.855L423.16 275.732L422.384 274.956L421.906 274.3L421.727 274.001V273.822L421.547 273.703V273.345L421.906 272.569V272.091V271.912L421.727 271.614L420.293 270.062L419.218 269.107L418.74 268.928L418.381 268.749L418.083 268.928L415.215 270.957L414.26 271.315L413.483 271.435L412.886 271.315L412.049 271.136L411.452 270.659L410.675 270.062L410.018 269.704H409.54L408.883 269.883L408.405 270.181L407.927 270.838L407.629 271.315L407.33 272.091L406.852 273.345L406.673 274.3V275.076L407.031 276.031L407.33 276.508L407.45 276.866V277.344L407.151 277.94L406.852 278.12L406.076 278.597L405.896 278.895V279.194L406.374 280.507V282.357L406.195 283.491L405.598 284.566V284.924L405.717 285.401V285.521L406.374 286.177V286.655L406.195 286.953L405.239 288.385L404.761 289.042L404.642 289.818L404.283 290.952L403.208 293.28V293.757V294.115H403.387H403.686L404.463 293.936H404.761L405.239 294.115L405.418 294.235L405.717 294.593L405.896 294.891L405.717 295.19L405.598 295.667L405.239 296.145L402.73 298.532L402.252 298.711L393.71 300.561L391.978 300.263L390.365 299.129L389.409 299.308L388.632 299.009L387.975 298.353L386.422 297.756L385.765 297.1L384.69 295.667H384.331L384.212 295.488L383.376 295.369L379.732 293.757H379.134L378.955 293.936L378.656 294.115L378.477 294.593L378.358 295.07V295.19V295.846L378.178 296.92V297.279V297.398L377.999 297.577L377.88 297.875L376.924 299.308V299.606L377.043 299.964H377.223H377.521L377.701 300.084L377.88 300.263L377.999 300.561V300.919L377.88 301.218L377.223 302.65L377.043 302.949L376.446 305.635L376.088 306.291L375.789 306.41L375.311 306.59H374.057L372.922 306.41L371.846 305.933L370.592 305.157H370.233L369.935 305.336L369.756 305.635L369.636 305.933L369.457 306.888L369.158 307.246L368.8 307.365L366.47 308.022L364.558 308.32H364.26L363.901 308.499L363.782 308.678V308.977L363.901 309.574L365.156 310.887L365.992 311.663L366.291 311.961L366.59 312.439L367.725 316.736L367.904 317.214L367.725 317.989V318.467L367.545 318.765L366.47 321.451V321.809L366.948 323.361L368.979 327.479L368.202 327.957L364.379 328.912L364.26 327.479V327.181L363.782 325.749L363.423 325.271L363.304 324.973L362.647 324.018L361.99 323.361L361.392 323.063L360.437 322.764L359.66 322.287L359.302 321.153V320.019V319.243L358.824 318.169L358.226 316.855L353.447 314.647L353.149 314.05L352.492 313.871L350.759 314.647H349.983L349.505 314.349L349.326 313.871L349.206 313.573L349.027 313.215L347.115 312.14L346.16 311.364L343.173 307.365L342.516 306.112L343.173 304.859L343.77 303.426L345.084 301.695L345.204 301.516L345.562 301.218L345.861 300.561L348.25 299.487L349.027 298.83L349.684 298.234L350.281 297.398L352.193 293.638L352.671 293.16H353.149L353.328 292.802L353.627 292.683H353.925L355.06 292.504L355.18 292.325L355.06 292.026L354.403 291.25L353.149 289.997L352.671 289.34V289.042L352.85 288.863L353.328 288.565L353.925 286.655L352.97 285.521L352.671 284.566V284.148L352.85 283.67V283.193L353.328 282.715L353.925 282.357L355.359 282.059H356.136L356.972 282.357L357.748 283.014L358.704 283.67L359.481 283.969H364.26L364.558 283.014L365.514 280.149L366.291 279.552L367.067 278.597L368.202 275.255V274.598L368.68 273.822L368.979 273.703L369.278 273.524H369.756L371.846 274.001H372.324V273.345V272.748L372.145 271.793V270.36V269.107L372.444 267.675L373.4 264.511L371.548 264.989L359.481 264.153L355.538 263.258L354.105 262.422L352.85 261.348L352.193 259.736L351.894 258.304L351.058 253.111L350.58 251.858H350.162L348.848 253.589L347.593 254.186L345.861 254.544L340.604 254.663L339.35 255.32L338.573 255.618L337.318 260.393L336.482 261.169L325.73 259.915L323.997 259.259L323.519 258.185V254.663L323.221 252.932L322.384 251.679L321.608 251.022L321.01 250.903L320.055 251.201L319.397 251.858L318.621 252.753L316.231 257.707L313.364 261.945L308.645 263.556L308.764 262.601L307.39 261.169L306.435 259.617L294.547 252.156L288.334 248.695L283.137 246.785L279.613 245.83L278.717 245.352L273.281 235.862L266.65 227.924L265.694 226.193L264.44 223.328H261.094L246.996 228.581L230.031 205.124L229.732 204.527V203.692L230.509 203.095L239.111 198.201L239.589 197.723L239.708 197.365L238.932 195.813L234.511 187.398L234.332 186.92V186.323L235.288 175.043L237.319 170.029L247.653 150.512L258.406 130.1L258.585 129.503V128.846L257.928 128.548L247.355 125.504L245.264 123.773L240.963 116.491L244.308 115.895L245.742 115.536L247.176 115.417L248.43 115.059L249.864 114.76L252.074 114.462L254.463 113.985L256.674 113.686L258.884 113.209L262.528 112.552L265.993 112.075L269.637 111.418L273.281 110.821L276.925 110.165L280.568 109.687L284.212 109.09L287.856 108.434L293.89 109.09L299.923 109.568L305.957 110.165L311.93 110.642L317.486 111.12L322.862 111.597L328.418 112.254L333.973 112.731L336.183 112.851L336.841 112.731L337.438 112.373L341.44 110.165L345.383 108.135L349.206 105.927L353.149 103.838L353.806 103.54L354.582 103.241L355.18 103.361H355.837L356.494 104.017L357.091 104.614L361.392 110.165L365.634 115.715L367.725 117.924L369.636 120.013L373.758 122.52L377.88 125.086L378.656 125.862L379.254 126.459L382.778 133.442L384.809 137.859L387.856 144.066L390.365 149.259H390.663L391.141 149.438Z"
                                fill="#A0A0A0" fill-opacity="0.19" stroke="#606060" stroke-opacity="0.35"
                                stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="region__list" id="region-list">
                        <button class="region__list-item active" data-region="region-1" id="TK">
                            <h4 class="region__list-item__title">
                                Город Ташкент </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        300 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        2.9564 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        147414.6 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-2" id="TO">
                            <h4 class="region__list-item__title">
                                Ташкентская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        15300 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        2.9934 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        93433.1 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-3" id="XO">
                            <h4 class="region__list-item__title">
                                Хорезмская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        6300 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        1.9581 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        31963.1 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-4" id="FA">
                            <h4 class="region__list-item__title">
                                Ферганская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        6800 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        3.9763 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        55972.1 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-5" id="SI">
                            <h4 class="region__list-item__title">
                                Сырдарьинская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        5100 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        0.8966 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        18136.8 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-6" id="SU">
                            <h4 class="region__list-item__title">
                                Сурхандарьинская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        20800 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        2.8065 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        34858.5 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-7" id="SA">
                            <h4 class="region__list-item__title">
                                Самаркандская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        16400 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        4.1182 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        62440.3 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-8" id="NG">
                            <h4 class="region__list-item__title">
                                Наманганская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        7900 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        2.9975 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        41098.2 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-9" id="NW">
                            <h4 class="region__list-item__title">
                                Навоийская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        110800 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        1.0555 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        66685.4 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-10" id="QA">
                            <h4 class="region__list-item__title">
                                Кашкадарьинская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        28400 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        3.4823 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        49520.8 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-11" id="JI">
                            <h4 class="region__list-item__title">
                                Джизакская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        20500 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        1.4755 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        27140.8 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-12" id="BU">
                            <h4 class="region__list-item__title">
                                Бухарская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        39400 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        2.0097 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        45797.3 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-13" id="AN">
                            <h4 class="region__list-item__title">
                                Андижанская область </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        4200 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        3.3227 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        54464,0 млрд сум </a>
                                </div>
                            </div>
                        </button>
                        <button class="region__list-item " data-region="region-14" id="QR">
                            <h4 class="region__list-item__title">
                                Республика Каракалпакстан </h4>

                            <div class="region__list-item__info">
                                <div class="region__list-item__info-cover">
                                    <span>
                                        Территория </span>
                                    <a class="">
                                        165600 км2 </a>
                                </div>

                                <div class="region__list-item__info-cover">
                                    <span>
                                        Население </span>
                                    <a class="">
                                        1.9762 млн </a>
                                </div>
                                <div class="region__list-item__info-cover">
                                    <span>
                                        ВВП </span>
                                    <a class="">
                                        29925,4 млрд сум </a>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="uzbekistan uzbekistan__about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="uzbekistan__about-item">
                        <div class="uzbekistan__about-img">
                            <img src="images/coat_of_arms.png" alt="">
                        </div>
                        <div>
                            <h3>
                                ГОСУДАРСТВЕННЫЙ ГЕРБ РЕСПУБЛИКИ УЗБЕКИСТАН
                            </h3>
                            <div class="uzbekistan__about-accardion">
                                <p>
                                    Республика Узбекистан расположена в Центральной Азии. По природно-географическим
                                    условиям
                                    Узбекистан является одним из наиболее благоприятных регионов в Центральной Азии.
                                    Территория
                                    Узбекистана представляет собой своеобразное сочетание равнинного и горного
                                    рельефа.
                                    Большую
                                    часть территории Узбекистана занимают равнины (около четырех пятых территории).
                                    Одной из
                                    главных является Туранская равнина. На востоке и северо-востоке страны
                                    расположены
                                    отроги
                                    Тянь-Шаня и Памира, здесь же находится высочайшая точка страны (4 643 м). На
                                    севере
                                    центральной части территории Узбекистана находится одна из крупнейших пустынь
                                    мира —
                                    Кызылкум, на западе — Каракум.

                                    Горы и предгорья составляют примерно 1/5 территории
                                    республики. На востоке преобладают среднегорные и высокогорные формы рельефа: в
                                    пределы
                                    республики входят склоны или окончания хребтов Западного Тянь-Шаня (хребты
                                    Угамский,
                                    Пскемский, Чаткальский, Кураминский) и Памиро-Алая (хребты Зеравшанский,
                                    Туркестанский,
                                    Гиссарский, Кугитангтау, Байсунтау). К югу и западу, они постепенно понижаются и
                                    переходят в
                                    равнины. Между горами простираются довольно большие впадины: Кашкадарьинская,
                                    Сурхандарьинская, Зеравшанская, Самаркандская. Наиболее крупная межгорная
                                    впадина —
                                    Ферганская котловина (долина) — 370 километров, а в ширину достигает 190
                                    километров.
                                    С трех
                                    сторон обрамлена горными хребтами и только с запада открыта. На границе с
                                    Афганистаном
                                    находится обширная Приамударьинская впадина.
                                </p>
                            </div>
                            <button class="uzbekistan__about-btn">
                                Подробнее
                            </button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="uzbekistan__about-item">
                        <div class="uzbekistan__about-img">
                            <img src="images/flag.jpg" alt="">
                        </div>

                        <div>
                            <h3>
                                ГОСУДАРСТВЕННЫЙ ФЛАГ РЕСПУБЛИКИ УЗБЕКИСТАН
                            </h3>
                            <div class="uzbekistan__about-accardion">
                                <p>
                                    Государственный флаг Республики Узбекистан утвержден законом Республики
                                    Узбекистан
                                    «О государственном флаге Республики Узбекистан» от 18 ноября 1991 г. № 407-XII.
                                    Государственный флаг Республики Узбекистан является символом государственного
                                    суверенитета Республики Узбекистан. Государственный флаг Республики Узбекистан
                                    представляет Республику Узбекистан в международных отношениях. Государственный
                                    флаг Республики Узбекистан представляет собой прямоугольное полотнище из трех
                                    горизонтальных полос насыщенного голубого, белого и насыщенного зеленого цветов
                                    во
                                    всю длину флага.
                                </p>
                            </div>
                            <button class="uzbekistan__about-btn">
                                Подробнее
                            </button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="uzbekistan__about-item">
                        <div class="uzbekistan__about-img">
                            <img src="images/anthem.png" alt="">
                        </div>
                        <div>
                            <h3>
                                ГОСУДАРСТВЕННЫЙ ГИМН РЕСПУБЛИКИ УЗБЕКИСТАН
                            </h3>
                            <div class="uzbekistan__about-accardion">
                                <p>
                                    Текст и музыкальная редакция Государственного гимна Республики Узбекистан
                                    утверждены
                                    законом Республики Узбекистан «О Государственном гимне Республики Узбекистан» от
                                    10
                                    декабря 1992 г. № 768-ХII. Государственный гимн Республики Узбекистан является
                                    символом государственного суверенитета Республики Узбекистан. Глубокое уважение
                                    к
                                    Государственному гимну Республики Узбекистан — патриотический долг каждого
                                    гражданина Республики Узбекистан.
                                    <strong> Музыка - Мутала Бурхонова Слова - Абдуллы Орипова </strong>
                                    Серқуёш, ҳур ўлкам, элга бахт, нажот, Сен ўзинг дўстларга йўлдош, меҳрибон!
                                    Яшнагай
                                    то абад илму фан, ижод, Шуҳратинг порласин токи бор жаҳон! Припев: Олтин бу
                                    водийлар
                                    — жон Ўзбекистон, Аждодлар мардона руҳи сенга ёр! Улуғ халқ қудрати жўш урган
                                    замон,
                                    Оламни маҳлиё айлаган диёр! Бағри кенг ўзбекнинг ўчмас иймони, Эркин, ёш
                                    авлодлар
                                    сенга зўр қанот! Истиқлол машъали, тинчлик посбони, Ҳақсевар, она юрт, мангу бўл
                                    обод! Припев:Олтин бу водийлар — жон Ўзбекистон, Аждодлар мардона руҳи сенга ёр!
                                    Улуғ халқ қудрати жўш урган замон, Оламни маҳлиё айлаган диёр!

                                </p>
                            </div>
                            <button class="uzbekistan__about-btn">
                                Подробнее
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="uzbekistan__about-item">
                        <div class="uzbekistan__about-img">
                            <img src="images/geographic-position.png" alt="">
                        </div>
                        <div>
                            <h3>
                                ГЕОГРАФИЧЕСКОЕ РАСПОЛОЖЕНИЕ
                            </h3>
                            <div class="uzbekistan__about-accardion">
                                <p>
                                    Республика Узбекистан расположена в Центральной Азии. По природно-географическим
                                    условиям Узбекистан является одним из наиболее благоприятных регионов в
                                    Центральной
                                    Азии. Территория Узбекистана представляет собой своеобразное сочетание
                                    равнинного и
                                    горного рельефа. Большую часть территории Узбекистана занимают равнины (около
                                    четырех пятых территории). Одной из главных является Туранская равнина. На
                                    востоке и
                                    северо-востоке страны расположены отроги Тянь-Шаня и Памира, здесь же находится
                                    высочайшая точка страны (4 643 м). На севере центральной части территории
                                    Узбекистана находится одна из крупнейших пустынь мира — Кызылкум, на западе —
                                    Каракум. Горы и предгорья составляют примерно 1/5 территории республики. На
                                    востоке
                                    преобладают среднегорные и высокогорные формы рельефа: в пределы республики
                                    входят
                                    склоны или окончания хребтов Западного Тянь-Шаня (хребты Угамский, Пскемский,
                                    Чаткальский, Кураминский) и Памиро-Алая (хребты Зеравшанский, Туркестанский,
                                    Гиссарский, Кугитангтау, Байсунтау). К югу и западу, они постепенно понижаются и
                                    переходят в равнины. Между горами простираются довольно большие впадины:
                                    Кашкадарьинская, Сурхандарьинская, Зеравшанская, Самаркандская. Наиболее крупная
                                    межгорная впадина — Ферганская котловина (долина) — 370 километров, а в ширину
                                    достигает 190 километров. С трех сторон обрамлена горными хребтами и только с
                                    запада
                                    открыта. На границе с Афганистаном находится обширная Приамударьинская впадина.
                                </p>
                            </div>
                            <button class="uzbekistan__about-btn">
                                Подробнее
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="uzbekistan__about-item">
                        <div class="uzbekistan__about-img">
                            <img src="images/territory.png" alt="">
                        </div>
                        <div>
                            <h3>
                                ТЕРРИТОРИЯ
                            </h3>
                            <div class="uzbekistan__about-accardion">
                                <p>
                                    Республика Узбекистан расположена в междуречье Амударьи и Сырдарьи и занимает
                                    площадь 448,9 тыс. кв. км. Протяженность территории республики с запада на
                                    восток —
                                    1425 километров, с севера на юг — 930 километров. Территория на севере и
                                    северо-востоке граничит с Казахстаном, на востоке и
                                    юго-востоке — с Кыргызстаном и Таджикистаном, на западе — с Туркменистаном, на
                                    юге —
                                    с Афганистаном. Общая длина государственной границы составляет 6221 километр.
                                    Протяженность границ с Афганистаном — 143 км., с Казахстаном — 2356.31 км., с
                                    Кыргызстаном — 1476.12 км., с Таджикистаном — 1283.2 км. и с Туркменистаном —
                                    1831.49 км.
                                </p>
                            </div>
                            <button class="uzbekistan__about-btn">
                                Подробнее
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="uzbekistan__about-item">
                        <div class="uzbekistan__about-img">
                            <img src="images/population.png" alt="">
                        </div>
                        <div>
                            <h3>
                                НАСЕЛЕНИЕ
                            </h3>
                            <div class="uzbekistan__about-accardion">
                                <p>
                                    Численность постоянного населения Республики Узбекистан по состоянию на 1 января
                                    2021
                                    года
                                    составила 34 558,9 тыс. человек.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="uzbekistan uzbekistan__holidays dark">
        <div class="container">
            <div class="uzbekistan__holidays-wrapper">
                <h2 class="section__title">
                    Национальные праздники
                </h2>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="uzbekistan__holidays-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="uzbekistan__holidays-img">
                                        <img src="images/holiday-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h4>
                                        14 января - День защитников Родины
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="uzbekistan__holidays-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="uzbekistan__holidays-img">
                                        <img src="images/holiday-2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h4>
                                        8 марта - Международный женский день
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="uzbekistan__holidays-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="uzbekistan__holidays-img">
                                        <img src="images/holiday-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h4>
                                        21 марта - Навруз
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="uzbekistan__holidays-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="uzbekistan__holidays-img">
                                        <img src="images/holiday-4.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <h4>
                                        9 мая - День памяти и почестей
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="uzbekistan__holidays-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="uzbekistan__holidays-img">
                                        <img src="images/holiday-5.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <h4>
                                        1 сентября - День Независимости
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="uzbekistan__holidays-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="uzbekistan__holidays-img">
                                        <img src="images/holiday-6.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <h4>
                                        1 октября - День учителей и наставников
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" col-lg-3">
                        <div class="uzbekistan__holidays-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="uzbekistan__holidays-img">
                                        <img src="images/holiday-7.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <h4>
                                        8 декабря - День Конституции
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="uzbekistan__holidays-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="uzbekistan__holidays-img">
                                        <img src="images/holiday-8.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h4>
                                        Рамазан Хаит
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="uzbekistan__holidays-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="uzbekistan__holidays-img">
                                        <img src="images/holiday-9.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h4>
                                        Курбон Хаит
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<!--=include footer.html -->