<!--=include second_header.html -->

<main class="main">

    <style>
        section {
            position: relative;
            z-index: 0;
        }

        .bounce {
            height: 100vh;
        }
    </style>

    <section class="bounce">
        <!--  <div class="bouncing-blobs-container">
            <div class="bouncing-blobs-glass"></div>
            <div class="bouncing-blobs">
                <div class="bouncing-blob bouncing-blob--blue"></div>
                <div class="bouncing-blob bouncing-blob--blue"></div>
                <div class="bouncing-blob bouncing-blob--blue"></div>
                <div class="bouncing-blob bouncing-blob--white"></div>
                <div class="bouncing-blob bouncing-blob--purple"></div>
                <div class="bouncing-blob bouncing-blob--purple"></div>
                <div class="bouncing-blob bouncing-blob--pink"></div>
            </div>
        </div> -->
        <div class="container">


            <div class="content">
                <p>Texnologiya va dizayn <br>Agentligi</p>
                <a href="#" class="x_box">
                    <div class="x_circle"></div>
                    <span class="x_mask2">Связаться с
                        нами</span>
                </a>
            </div>


            <!-- <div class="btn__test-container">
                <a href="/pages/about" class="x_box" data-label="To'liq ma'lumot">
                    <div class="x_circle" style="transform: matrix(1, 0, 0, 1, 17.5, 8.7);"></div>
                    <span class="x_mask2" style="clip-path: circle(40px at 34px calc(50% + 9px));">To'liq
                        ma'lumot</span>
                </a>
            </div> -->
        </div>
    </section>

    <section>
        <div class="container">
            <!--  <style>
                .element {
                    width: 200px;
                    height: 200px;
                    background-color: lightblue;
                    clip-path: circle(40px at 16px calc(50% + 0px));
                }
            </style>
            <div class="element"></div> -->

        </div>
    </section>

</main>


<!--=include test_footer.html -->