<!--=include second_header.html -->

<main class="main">
    <section class="section__header">
        <div class="container">
            <p class="section__header-text">
                Главная/Руководство
            </p>
            <h2 class="section__header-title">
                Контакты
            </h2>
        </div>
    </section>
    <section class="contacts__details">
        <div class="container">
            <div class="contacts__map">
                <div class="contacts__map-header">

                    <div class="contacts__map-header__item address">
                        <span>
                            Местонахождение:
                        </span>
                        <a href="#">
                            ул.Амира Темура 107Б
                        </a>
                    </div>

                    <div class="contacts__map-header__item email">
                        <span>
                            Почта:
                        </span>
                        <a href="matilto:info@interforum.uz">
                            info@interforum.uz
                        </a>
                    </div>

                    <div class="contacts__map-header__item phone">
                        <span>
                            Номер телефона:
                        </span>
                        <a href="tel:998555080700">
                            +998 55-508-07-00
                        </a>
                    </div>

                </div>

                <div class="contacts__map-item">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11982.753648588314!2d69.2822592!3d41.3373884!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8bb1449ce571%3A0x9e652a244ad74f6f!2z0JPQo9CfICJJbnRlcmZvcnVtIg!5e0!3m2!1sru!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>

    <section class="contacts__message">
        <div class="container">
            <h2>
                НАПИШИТЕ НАМ
            </h2>

            <div class="contacts__message-inner">
                <span>
                    Мы свяжемся с вами в ближайшее время
                </span>
                <form action="https://interforum.uz/contacts-create" method="POST">
                    <!-- <input type="hidden" name="_token" value="YDZ8diLDnnpTHpIMF54zyUEjam7WQAJxvXQjQwTo"> -->

                    <label for="name">
                        Ваше имя*
                        <input type="text" id="name">
                    </label>
                    <label for="phone">
                        НОМЕР ТЕЛЕФОНА*
                        <input type="phone" id="phone">
                    </label>
                    <label for="message">
                        СООБЩЕНИЕ
                        <textarea name="" id="message"></textarea>
                    </label>

                    <button type="submit">
                        Оставить заявку
                    </button>
                </form>
            </div>
        </div>
    </section>

</main>


<!--=include footer.html -->