<!--=include second_header.html -->

<main class="main">
    <section class="section__header">
        <div class="container">
            <p class="section__header-text">
                Главная/Руководство
            </p>
            <h2 class="section__header-title">
                FAQ
            </h2>
        </div>
    </section>
    <section class="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <img class="faq__img" src="images/faq__img.jpg" alt="">
                </div>
                <div class="col-lg-7 col-12">
                    <div class="faq__inner">
                        <div>
                            <button class="accordion__btn">Как получить аккредитацию СМИ?</button>
                            <div class="accordion__info">
                                <div>
                                    Для того чтобы получить аккредитацию СМИ на мероприятие, необходимо оставить заявку
                                    на сайте в разделе «СМИ».
                                </div>
                            </div>
                        </div>

                        <div>
                            <button class="accordion__btn">Как можно стать подрядчиком мероприятия?</button>
                            <div class="accordion__info">
                                <div>
                                    Если вы хотите стать подрядчиком мероприятия, то вы можете отправить заявку на
                                    info@interforum.uz

                                    или связаться с нами по телефону: +998 55-508-07-00
                                </div>
                            </div>
                        </div>

                        <div>
                            <button class="accordion__btn">Как стать партнером мероприятия?</button>
                            <div class="accordion__info">
                                <div>
                                    Если Ваша компания заинтересована стать партнером мероприятия, <br>

                                    Вы можете связаться с отделом маркетинга, направив:<br>

                                    - письмо на marketing@interforum.uz;<br>

                                    - позвонив по телефону +998 55-508-07-00<br>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<!--=include footer.html -->