<!--=include second_header.html -->

<main class="main">
    <section class="section__header">
        <div class="container">
            <p class="section__header-text">
                Главная/Галерея
            </p>
            <h2 class="section__header-title">
                Галерея
            </h2>
        </div>
    </section>
    <section class="gallery">
        <div class="container">
            <div class="tab-links">
                <a class="tab-link active" href="#">
                    Фотогалерея </a>
                <a class="tab-link" href="#">
                    Видеогалерея </a>
            </div>
            <div class="gallery__wrapper">

                <div class="gallery__inner left">
                    <a href="images/news-6.png" class="gallery__item">
                        <img src="images/news-6.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-5.jpg" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-1.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-2.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-3.png" alt="Gallery">
                    </a>
                </div>

                <div class="gallery__inner right">
                    <a href="#" class="gallery__item">
                        <img src="images/news-2.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-3.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-4.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-6.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-5.jpg" alt="Gallery">
                    </a>
                </div>

                <div class="gallery__inner left">
                    <a href="#" class="gallery__item">
                        <img src="images/news-1.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-2.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-3.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-4.png" alt="Gallery">
                    </a>
                    <a href="#" class="gallery__item">
                        <img src="images/news-3.png" alt="Gallery">
                    </a>
                </div>

            </div>
        </div>
    </section>
</main>


<!--=include footer.html -->