<!--=include second_header.html -->

<main class="main">
    <section class="section__header">
        <div class="container">
            <p class="section__header-text">
                Главная/Организационная структура
            </p>
            <h2 class="section__header-title">
                Организационная структура
            </h2>
        </div>
    </section>
    <section class="page">
        <div class="container">
            <div class="page__inner">

            </div>
    </section>


</main>


<!--=include footer.html -->