<!--=include header_olive.html -->

<main class="main olive">

    <!--******* HERO *******-->
    <section class="hero">
        <div class="container">
            <div class="hero__wrapper">
                <div class="hero__info hidden">
                    <h1 class="hero__title title">
                        организация и проведение международных мероприятий
                    </h1>
                    <a href="#" class="circle__btn">
                        <div class="circle__inner"></div>
                        <span class="circle__mask">Связаться с
                            нами</span>
                    </a>
                </div>
                <div class="hero__image hidden">
                    <img src="images/main-logo.svg" alt="logo">
                </div>
                <div class="hero__about hidden">
                    <p>
                        Мы команда специалистов, занимающихся полномасштабной разработкой и реализацией проектов по
                        проведению мероприятий высокого уровня
                    </p>
                    <a href="#" class="circle__btn second">
                        <div class="circle__inner"></div>
                        <span class="circle__mask">О нас</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--******* ABOUT *******-->
    <section class="about">
        <div class="container">
            <div class="about__wrapper">
                <h2 class="hidden">
                    «InterForum» - это команда специалистов, занимающихся реализацией проектов
                </h2>

                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="about__img hidden">
                            <img src="images/image-example.jpg" alt="about image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__item hidden">
                            <p>
                                «InterForum» - это команда специалистов, занимающихся полномасштабной разработкой и
                                реализацией проектов по проведению мероприятий высокого уровня, использующих в работе
                                современные технические возможности, оригинальные идеи и ключевые тренды индустрии
                                проведения мероприятий.
                                <br>
                                Каждый новый проект требует креативный подход, специальное качественно новое решение.
                                Команда постоянно совершенствует стандарты своей работы, что с каждым разом делает новые
                                проекты все более эффективными.
                                <br>
                                За недолгий период существования компания стала организатором и оператором многих
                                международных форумов и мероприятий, ярких и успешных проектов разной степени сложности.
                                <br>
                                Мы всегда открыты к сотрудничеству, готовы предложить свои идеи по организации и
                                проведению мероприятий на самом высоком уровне.
                                <br>
                                Каждый проект «InterForum» – это всегда новые решения.
                            </p>
                            <a href="#" class="circle__btn third">
                                <div class="circle__inner"></div>
                                <span class="circle__mask">Подробнее</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--******* COMPETITION *******-->
    <section class="competition">
        <div class="container">
            <h2 class="hidden">
                НАШИ КОМПЕТЕНЦИИ
            </h2>
            <div class="competition__wrapper">

                <!-- First block -->
                <div class="row">
                    <div class="col-lg-6 col-12 hidden">
                        <h3 class="background__title">
                            Организация и проведение международных конгрессно-выставочных мероприятий.
                        </h3>
                        <p>
                            InterForum» - это команда специалистов, занимающихся полномасштабной разработкой и
                            реализацией
                            проектов по проведению мероприятий высокого уровня, использующих в работе современные
                            технические
                            возможности, оригинальные идеи и ключевые тренды индустрии проведения мероприятий.
                        </p>
                    </div>
                    <div class="col-lg-6 col-12 hidden">
                        <img src="images/image-example.jpg" alt="competition image">
                    </div>
                </div>
                <!-- Second  block -->
                <div class="row">
                    <div class="col-lg-6 col-12 hidden">
                        <img src="images/image-example2.jpg" alt="competition image">
                    </div>
                    <div class="col-lg-6 col-12 hidden">
                        <h3 class="background__title">
                            Обеспечение информационного сопровождения мероприятий
                        </h3>
                        <p>
                            InterForum» - это команда специалистов, занимающихся полномасштабной разработкой и
                            реализацией
                            проектов по проведению мероприятий высокого уровня, использующих в работе современные
                            технические
                            возможности, оригинальные идеи и ключевые тренды индустрии проведения мероприятий.
                        </p>
                    </div>
                </div>
                <!-- Third  block -->
                <div class="row">
                    <div class="col-lg-6 col-12 hidden">
                        <h3 class="background__title">
                            организация эффективной коммуникации с зарубежными партнерами
                        </h3>
                        <p>
                            InterForum» - это команда специалистов, занимающихся полномасштабной разработкой и
                            реализацией
                            проектов по проведению мероприятий высокого уровня, использующих в работе современные
                            технические
                            возможности, оригинальные идеи и ключевые тренды индустрии проведения мероприятий.
                        </p>
                    </div>
                    <div class="col-lg-6 col-12 hidden">
                        <img src="images/image-example3.jpg" alt="competition image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--******* SUBORDINATE *******-->
    <section class="subordinate">
        <div class="container">
            <h2 class="hidden">
                ПОДВЕДОМСТВЕННЫЕ ОРГАНИЗАЦИИ
            </h2>
            <div class="subordinate__links">
                <a class="hidden" href="#">
                    <img src="images/subordinate-1.png" alt="logo of subordinate">
                </a>
                <a class="hidden" href="#">
                    <img src="images/subordinate-2.png" alt="logo of subordinate">
                </a>
            </div>

            <h2 class="news__title hidden">
                Новости
            </h2>
        </div>
    </section>

    <section class="news">
        <div class="news__wrapper">
            <a href="#" class="news__item">
                <img src="images/news-1.png" alt="news image">
                <h4 class="news__item-title">
                    Организация и проведение международных конгрессно-выставочных мероприятий.
                </h4>
            </a>
            <a href="#" class="news__item">
                <img src="images/news-2.png" alt="news image">
                <h4 class="news__item-title">
                    Организация и проведение международных конгрессно-выставочных мероприятий.
                </h4>
            </a>
            <a href="#" class="news__item">
                <img src="images/news-3.png" alt="news image">
                <h4 class="news__item-title">
                    Шавкат Мирзиёев обозначил четыре приоритетных направления для Совета иностранных инвесторов
                    Шавкат Мирзиёев обозначил четыре приоритетных направления для Совета иностранных инвесторов
                </h4>
            </a>
            <a href="#" class="news__item">
                <img src="images/news-4.png" alt="news image">
                <h4 class="news__item-title">
                    Организация и проведение международных конгрессно-выставочных мероприятий.
                </h4>
            </a>
            <a href="#" class="news__item">
                <img src="images/news-5.jpg" alt="news image">
                <h4 class="news__item-title">
                    Организация и проведение международных конгрессно-выставочных мероприятий.
                </h4>
            </a>
            <a href="#" class="news__item">
                <img src="images/news-6.png" alt="news image">
                <h4 class="news__item-title">
                    Организация и проведение международных конгрессно-выставочных мероприятий.
                </h4>
            </a>
            <a href="#" class="news__item">
                <img src="images/news-7.png" alt="news image">
                <h4 class="news__item-title">
                    Организация и проведение международных конгрессно-выставочных мероприятий.
                </h4>
            </a>
            <a href="#" class="news__item">
                <img src="images/news-8.png" alt="news image">
                <h4 class="news__item-title">
                    Организация и проведение международных конгрессно-выставочных мероприятий.
                </h4>
            </a>
        </div>
    </section>

    <section class="contacts">

        <!--       <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11982.753648588314!2d69.2822592!3d41.3373884!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8bb1449ce571%3A0x9e652a244ad74f6f!2z0JPQo9CfICJJbnRlcmZvcnVtIg!5e0!3m2!1sru!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->

        <div class="container">
            <h2>
                кОНТАКТЫ
            </h2>

            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="contacts__info">
                        <a class="mail" href="mailto:info@interforum.uz">
                            <span>Электронная почта</span>
                            info@interforum.uz
                        </a>
                        <a class="phone" href="tel:998712385767">
                            <span>Номер телефона</span>
                            +998 71 238 57 67
                        </a>
                        <a class="adress" href="#">
                            <span>Адрес</span>
                            ул.Амира Темура 107Б
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-12">
                    <div class="contacts__main-logo">
                        <img src="images/main-logo.svg" alt="logo">
                    </div>
                </div>

                <div class="col-lg-5 col-12">
                    <form action="https://interforum.uz/contacts-create" method="POST">
                        <!-- <input type="hidden" name="_token" value="YDZ8diLDnnpTHpIMF54zyUEjam7WQAJxvXQjQwTo"> -->

                        <label for="name">
                            Ваше имя*
                            <input type="text" id="name">
                        </label>
                        <label for="phone">
                            НОМЕР ТЕЛЕФОНА*
                            <input type="phone" id="phone">
                        </label>
                        <label for="message">
                            СООБЩЕНИЕ
                            <textarea name="" id="message"></textarea>
                        </label>

                        <button type="submit">
                            Оставить заявку
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="location">
        <div class="location__wrapper">



            <div class="location__inner">
                <a class="location__info" href="#">
                    <span href="#">
                        <span>
                            Адрес
                        </span>
                        ул.Амира Темура 107Б
                    </span>
                </a>
                <a class="location__img" href="#">
                    <img src="images/location.svg" alt="">
                </a>
            </div>
        </div>
    </section>

    <section class="links">
        <!-- <div class="bouncing-blobs-container">
            <div class="bouncing-blobs-glass"></div>
            <div class="bouncing-blobs">
                <div class="bouncing-blob bouncing-blob--blue"></div>
                <div class="bouncing-blob bouncing-blob--blue"></div>
                <div class="bouncing-blob bouncing-blob--blue"></div>
                <div class="bouncing-blob bouncing-blob--white"></div>
                <div class="bouncing-blob bouncing-blob--purple"></div>
                <div class="bouncing-blob bouncing-blob--purple"></div>
                <div class="bouncing-blob bouncing-blob--pink"></div>
            </div>
        </div> -->
        <div class="container">
            <h2>
                полезные ссылки
            </h2>
            <div class="links__cover">
                <a class="links__item" href="#">
                    <img src="images/coat_of_arms.png" alt="logo of link">
                </a>
                <a class="links__item" href="#">
                    <img src="images/links-logo-2.png" alt="logo of link">
                </a>
                <a class="links__item" href="#">
                    <img src="images/links-logo-3.png" alt="logo of link">
                </a>
                <a class="links__item" href="#">
                    <img src="images/coat_of_arms.png" alt="logo of link">
                </a>
                <a class="links__item" href="#">
                    <img src="images/links-logo-4.png" alt="logo of link">
                </a>
                <a class="links__item" href="#">
                    <img src="images/links-logo-5.png" alt="logo of link">
                </a>
                <a class="links__item" href="#">
                    <img src="images/coat_of_arms.png" alt="logo of link">
                </a>
                <a class="links__item" href="#">
                    <img src="images/links-logo-6.png" alt="logo of link">
                </a>
            </div>
        </div>
    </section>

</main>


<!--=include footer_olive.html -->