<!--=include second_header.html -->

<main class="main">
    <section class="section__header">
        <div class="container">
            <p class="section__header-text">
                Главная/Руководство
            </p>
            <h2 class="section__header-title">
                Руководство
            </h2>
        </div>
    </section>
    <section class="management">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="management__item">

                        <div class="management__item-info">
                            <!-- <div class="management__item-image">
                                <img src="images/user.jpg" alt="">
                            </div> -->
                            <div class="management__item-text">
                                <h4>
                                    Зуфаров Бехзод Алишерович
                                </h4>
                                <span>
                                    Директор
                                </span>
                            </div>
                        </div>

                        <button class="accordion__btn">
                            Биография
                        </button>

                        <div class="accordion__info">
                            <div>
                                <strong>Директор</strong>

                                <strong>Зуфаров Бехзод Алишерович</strong>

                                Родился в1987 году в городе Ташкенте. <br>

                                В 2007 году получил степень бакалавра, а в 2009 году степень магистра Ташкентского
                                государственного экономического университета. <br>

                                Трудовую деятельность начал в 2006 году. <br>

                                С 2006 по 2007 годы работал экономистом отдела маркетинга Юнусабадского районного отдела
                                народного образования. <br>

                                С 2008 по 2012 годы - ведущий специалист, главный специалист, и.о. начальника отдела
                                экспертизы инвестиционных проектов Главного управления мониторинга инвестиционных
                                предложений и экспертизы инвестиционных проектов и контрактов Министерства внешних
                                экономических связей, инвестиций и торговли Республики Узбекистан. <br>

                                С 2012 по 2015 годы - заместитель генерального директора Государственного предприятия
                                РХВО
                                (республиканское хозрасчетное внешнеэкономическое объединение) «INTERSERVIS» –
                                исполняющий
                                обязанности главного менеджера по управлению гостиничным комплексом «International Hotel
                                Tashkent» при Министерстве внешних экономических связей, инвестиций и торговли
                                Республики
                                Узбекистан. <br>

                                С 2015 по 2016 годы - исполняющий обязанности генерального директора Государственного
                                предприятия РХВО «INTERSERVIS» при Министерстве внешних экономических связей, инвестиций
                                и
                                торговли Республики Узбекистан. <br>

                                С 2016 - 2017 годы - Председатель правления АО «Международный Бизнес Центр» при
                                Министерстве
                                внешних экономических связей, инвестиций и торговли Республики Узбекистан. <br>

                                Также с 2016 - 2017 годы - Генеральный директор Государственного предприятия РХВО
                                «INTERSERVIS» при Министерстве внешних экономических связей, инвестиций и торговли
                                Республики Узбекистан (на замещающей основе). <br>

                                С 2017-2018 годы - Председатель правления АО «Международный Бизнес Центр» при
                                Государственном комитете по инвестициям. <br>

                                Также с 2017-2018 годы - Генеральный директор Государственного предприятия РХВО
                                «INTERSERVIS» при Государственном комитете по инвестициям (на замещающей основе). <br>

                                С 2018-2019 годы - Генеральный директор ООО «HB Management Services». <br>

                                С 2019-2023 годы – первый заместитель Генерального Директора ООО «Samarkand Touristic
                                Centre. <br>

                                С 2023-2023 годы - исполнительный Директор ООО «Samarkand Touristic Centre». <br>

                                С октября 2023 года по настоящее время - Директор ГУП «InterForum» при Администрации
                                Президента Республики Узбекистан. <br>
                            </div>
                        </div>

                        <div class="management__contacts">
                            <a class="phone" href="tel:998555080700">
                                +998 55-508-07-00
                            </a>
                            <a class="mail" href="mailto:zufarov@mail.ru">
                                zufarov@mail.ru
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="management__item">

                        <div class="management__item-info">
                            <!-- <div class="management__item-image">
                                <img src="images/user.jpg" alt="">
                            </div> -->
                            <div class="management__item-text">
                                <h4>
                                    Салахов Равшан Тургунович
                                </h4>
                                <span>
                                    Заместитель директора
                                </span>
                            </div>
                        </div>

                        <button class="accordion__btn">
                            Биография
                        </button>

                        <div class="accordion__info">
                            <div>
                                Родился в 1979 году в городе Ташкенте. <br>

                                Образование высшее: в 2000 году окончил бакалавриат, в 2002 году магистратуру
                                Ташкентского финансового института. <br>

                                Трудовую деятельность начал в Национальном банке ВЭД Республики Узбекистан. <br>

                                С 2001 по 2006 годы - специалист второй категории, специалист первой категории, ведущий
                                специалист, главный специалист управления инвестиций Национального банка ВЭД Республики
                                Узбекистан. <br>

                                С 2006 по 2007 годы - начальник отдела Связей с общественностью Главного управления
                                сотрудничества с международными финансовыми институтами Национального банка ВЭД
                                Республики Узбекистан. <br>

                                С 2007 по 2008 годы - заместитель начальника управления - начальник ОПЕРУ Казначейства
                                по городу Ташкент Министерства финансов Республики Узбекистан. <br>

                                С 2008 по 2011 годы - заместитель управляющего Академического филиала, заместитель
                                начальника Операционного управления Главного управления Национального банка ВЭД
                                Республики Узбекистан по городу Ташкент. <br>

                                С 2011 по 2016 годы - управляющий Юнусабадским и Академическим филиалами Главного
                                управления Национального банка ВЭД Республики Узбекистан по городу Ташкент. <br>

                                С 2016 по 2017 годы - начальник Главного управления Национального банка ВЭД Республики
                                Узбекистан по городу Ташкент. <br>

                                С 2017 по 2018 годы - Председатель Наблюдательного совета ООО “Bektemir Go‘sht
                                Kombinati”. <br>

                                С 2018 по 2019 годы - заместитель Председателя Ассоциации “Узчармсаноат”. <br>

                                С 2019 по 2019 годы - заместитель заведующего секретариатом Министерства инвестиций и
                                внешней торговли Республики Узбекистан. <br>

                                С 2019 по 2019 годы - Директор ГУП "InterForum" при Министерстве инвестиций и внешней
                                торговли Республики Узбекистан. <br>

                                C 2020 по 2021 годы - помощник Министра Инвестиций и внешней торговли Республики
                                Узбекистан. <br>

                                С 2021 по 2023 годы - заместитель начальника Управления делами Министерства инвестиций и
                                внешней торговли Республики Узбекистан. <br>

                                С 2023 года по настоящее время - заместитель Директора ГУП "InterForum" при
                                Администрации Президента Республики Узбекистан. <br>
                            </div>
                        </div>

                        <div class="management__contacts">
                            <a class="phone" href="tel:998555080700">
                                +998 55-508-07-00
                            </a>
                            <a class="mail" href="mailto:zufarov@mail.ru">
                                r.salakhov@interforum.uz
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="management__item">

                        <div class="management__item-info">
                            <!-- <div class="management__item-image">
                                <img src="images/user.jpg" alt="">
                            </div> -->
                            <div class="management__item-text">
                                <h4>
                                    Шагазатов Ойбек Бохадирович
                                </h4>
                                <span>
                                    Заместитель директора
                                </span>
                            </div>
                        </div>

                        <button class="accordion__btn">
                            Биография
                        </button>

                        <div class="accordion__info">
                            <div>
                                Родился в 1984 году в городе Ташкенте. <br>

                                Образование высшее: в 2005 году окончил Ташкентский финансовый институт, а в 2007 году
                                магистратуру вышеупомянутого института. <br>

                                Трудовую деятельность начал в 2005 году в Акционерно-коммерческом банке
                                "Ўзсаноатқурилишбанк". <br>

                                С 2005-2006 годы работал в должности специалиста Акционерно-коммерческого банка
                                "Ўзсаноатқурилишбанк". <br>

                                С 2007-2009 годы - ведущий специалист отдела мониторинга и учета проектов,
                                разрабатываемых в рамках сотрудничества с международными финансовыми организациями и
                                странами-донорами Министерства внешних экономических связей, инвестиций и торговли
                                Республики Узбекистан. <br>

                                С 2009-2011 годы - главный специалист отдела мониторинга и учета проектов,
                                разрабатываемых в рамках сотрудничества с международными финансовыми организациями и
                                странами-донорами Министерства внешних экономических связей, инвестиций и торговли
                                Республики Узбекистан. <br>

                                С 2011-2013 годы – заместитель начальника управления мониторинга и учета проектов,
                                разрабатываемых в рамках сотрудничества с международными финансовыми организациями и
                                странами-донорами Министерства внешних экономических связей, инвестиций и торговли
                                Республики Узбекистан. <br>

                                С 2013-2018 годы - Советник по торгово-экономическим вопросам Посольства Республики
                                Узбекистан в Республике Корея. <br>

                                С 2018-2019 годы - заместитель хокима Кашкадарьинской области по вопросам инвестиций,
                                содействию приватизации предприятий, инновационного развития, координации деятельности
                                свободных экономических и малых промышленных зон, туризма. <br>

                                С 2019-2020 годы -. заместитель хокима Кашкадарьинской области – начальник Управления
                                инвестиций и внешней торговли области. <br>

                                С 2020-2022 годы - начальник отдела Сотрудничества с международными финансовыми
                                институтами Министерства инвестиций и внешней торговли Республики Узбекистан. <br>

                                С 2023года по настоящее время - заместитель директора ГУП "InterForum" при Администрации
                                Президента Республики Узбекистан. <br>
                            </div>
                        </div>

                        <div class="management__contacts">
                            <a class="phone" href="tel:998555080700">
                                +998 55-508-07-00
                            </a>
                            <a class="mail" href="mailto:zufarov@mail.ru">
                                shagazatov@interforum.uz
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="management__item">

                        <div class="management__item-info">
                            <!-- <div class="management__item-image">
                                <img src="images/user.jpg" alt="">
                            </div> -->
                            <div class="management__item-text">
                                <h4>
                                    Ташкенбаев Акмал Улугбекович
                                </h4>
                                <span>
                                    Заместитель директора
                                </span>
                            </div>
                        </div>

                        <button class="accordion__btn">
                            Биография
                        </button>

                        <div class="accordion__info">
                            <div>
                                Родился в г.Самарканде в 1993 году.

                                Образование высшее: в 2016 году окончил Ташкентский финансовый институт, а в 2018 году
                                магистратуру вышеупомянутого института. <br>

                                Трудовую деятельность начал в 2012 году. <br>

                                С 2012 по 2013 годы - специалист канцелярии Акционерно-коммерческого банка
                                "Капиталбанк". <br>

                                С 2019 по 2019 годы - младший специалист отдела Протокола Управления организационного
                                контроля Министерства внешней торговли Республики Узбекистан. <br>

                                С 2019 по 2020 годы - заместитель начальника Управления организационного контроля
                                Министерства инвестиций и вне шней торговли Республики Узбекистан – начальник
                                Протокольного отдела. <br>

                                С 2020 по 2021 годы - исполняющий обязанности начальника Управления Протокола и
                                аккредитации Министерства инвестиций и внешней торговли Республики Узбекистан. <br>

                                С 2021 по 2023 годы - начальник Управления Протокола и аккредитации Министерства
                                инвестиций и внешней торговли Республики Узбекистан. <br>

                                С 2023 года по настоящее время - заместитель директора ГУП «InterForum» при
                                Администрации Президента Республики Узбекистан. <br>
                            </div>
                        </div>

                        <div class="management__contacts">
                            <a class="phone" href="tel:998555080700">
                                +998 55-508-07-00
                            </a>
                            <a class="mail" href="mailto:zufarov@mail.ru">
                                a.tashkenbayev@interforum.uz
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<!--=include footer.html -->