<!--=include second_header.html -->

<main class="main">
    <section class="section__header">
        <div class="container">
            <p class="section__header-text">
                Главная/Новости
            </p>
            <h2 class="section__header-title">
                Новости
            </h2>
        </div>
    </section>

    <section class="events">
        <div class="container">
            <div class="events__wrapper">
                <!-- First block -->
                <div class="events__item">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Main news -->
                            <div class="most__recent">
                                <img src="images/holiday-4.jpg" alt="">
                                <div>
                                    <h4>
                                        Организация и проведение международных конгрессно-выставочных мероприятий.
                                    </h4>
                                    <a class="events__btn primary-button" href="#">
                                        Перейти
                                        <span class="round" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Most recent (after main) -->
                        <div class="col-lg-4">
                            <div>
                                <img src="images/holiday-6.jpg" alt="">
                                <div>
                                    <h4>
                                        Cостоялись переговоры лидеров Узбекистана и Южной_Кореи
                                    </h4>
                                    <a class="events__btn primary-button" href="#">
                                        Перейти
                                        <span class="round" />
                                    </a>
                                </div>
                            </div>
                            <div>
                                <img src="images/holiday-7.jpg" alt="">
                                <div>
                                    <h4>
                                        Узбекистан – Турция: определены приоритетные направления взаимовыгодного
                                        сотрудничества
                                    </h4>
                                    <a class="events__btn primary-button" href="#">
                                        Перейти
                                        <span class="round" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second block -->
                <ul class="events__list">
                    <li class="events__list-item">
                        <img src="images/example.jpg" alt="news image">
                        <div>
                            <h4>
                                Организация и проведение международных конгрессно-выставочных мероприятий.
                            </h4>

                            <a class="events__btn primary-button" href="#">
                                Перейти
                                <span class="round" />
                            </a>
                        </div>
                    </li>

                    <li class="events__list-item">
                        <img src="images/example.jpg" alt="news image">
                        <div>
                            <h4>
                                Организация и проведение международных конгрессно-выставочных мероприятий.
                            </h4>

                            <a class="events__btn primary-button" href="#">
                                Перейти
                                <span class="round" />
                            </a>
                        </div>
                    </li>

                    <li class="events__list-item">
                        <img src="images/example.jpg" alt="news image">
                        <div>
                            <h4>
                                Организация и проведение международных конгрессно-выставочных мероприятий.
                            </h4>

                            <a class="events__btn primary-button" href="#">
                                Перейти
                                <span class="round" />
                            </a>
                        </div>
                    </li>

                    <li class="events__list-item">
                        <img src="images/holiday-1.jpg" alt="news image">
                        <div>
                            <h4>
                                Организация и проведение международных конгрессно-выставочных мероприятий.
                            </h4>

                            <a class="events__btn primary-button" href="#">
                                Перейти
                                <span class="round" />
                            </a>
                        </div>
                    </li>

                    <li class="events__list-item">
                        <img src="images/holiday-2.jpg" alt="news image">
                        <div>
                            <h4>
                                Организация и проведение международных конгрессно-выставочных мероприятий.
                            </h4>

                            <a class="events__btn primary-button" href="#">
                                Перейти
                                <span class="round" />
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="pagination">

                <a class="previous disabled" href="#">
                    Назад
                </a>
                <a class="next" href="#">
                    Дальше
                </a>

            </div>
        </div>
    </section>

</main>


<!--=include footer.html -->