<!--=include second_header.html -->

<main class="main">
    <section class="section__header">
        <div class="container">
            <p class="section__header-text">
                Главная/Организационная структура
            </p>
            <h2 class="section__header-title">
                Организационная структура
            </h2>
        </div>
    </section>
    <section class="page org_structure">
        <div class="container">
            <div class="page__inner">

                <div>
                    <div class="tree_cover">
                        <p><strong>Приложение 1 к Протоколу Администрации Президента Республики Узбекистан от «___» мая
                                2024г.</strong></p>
                        <ul class="treee">
                            <div class="treee_top">
                                <li class="child_first"><a href="#">1-ый Помощник директора</a></li>
                                <li class="child_first"><a href="/page/direktor">Директор</a></li>
                                <li class="child_first"><a href="#">Помошник директора</a></li>
                            </div>
                            <ul class="tree_first_inner">
                                <li class="child_second"><a href="/page/zam-direktor">Заместитель директора</a>
                                    <ul class="treee_second_inner">
                                        <li class="child_third"><a
                                                href="/page/finansovo-ekonomicheskoe-upravlenie">Финансово-экономическое
                                                управление<span class="number_of_people">6</span></a></li>
                                        <li class="child_third"><a
                                                href="/page/otdel-upravleniya-delami-predpriyatiya">Управление
                                                делами<span class="number_of_people">4</span></a></li>
                                        <li class="child_third"><a
                                                href="/page/otdel-korporativnykh-otnosheniy-s-podvedomstvennymi-organizatsiyami">Отдел
                                                корпоративных отношений с подведомственными организациями<span
                                                    class="number_of_people">1</span></a></li>
                                    </ul>
                                </li>
                                <li class="child_second"><a href="/page/zam-direktor-3">Заместитель директора</a>
                                    <ul class="treee_second_inner">
                                        <li class="child_third"><a
                                                href="/page/upravlenie-planirovaniya-meropriyatiy">Управление
                                                планирования
                                                мероприятий<span class="number_of_people">4</span></a></li>
                                        <li class="child_third"><a
                                                href="/page/upravlenie-organizatsii-i-provedeniya-meropriyatiy">Управление
                                                организации и проведения мероприятий<span
                                                    class="number_of_people">1</span></a>
                                            <ul class="treee_third_inner">
                                                <li class="child_fourth"><a
                                                        href="/page/otdel-organizatsii-i-provedeniya-meropriyatiy-mezhdunarodnogo-gosudarstvennogo-i-mezhpravitelstvennogo-urovney">Отдел
                                                        организации и проведения мероприятий международного,
                                                        государственного и межправительственного уровней<span
                                                            class="number_of_people">4</span></a></li>
                                                <li class="child_fourth"><a
                                                        href="/page/otdel-provedeniya-meropriyatiy-mestnogo-urovnya">Отдел
                                                        проведения мероприятий местного уровня<span
                                                            class="number_of_people">2</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="child_third"><a href="/page/title">Управление
                                                информационно-коммуникационных технологий<span
                                                    class="number_of_people">7</span></a></li>
                                    </ul>
                                </li>
                                <li class="child_second"><a href="/page/zam-direktor-1695577713">Заместитель
                                        директора</a>
                                    <ul class="treee_second_inner">
                                        <li class="child_third"><a
                                                href="/page/upravlenie-vneshneekonomicheskoy-deyatelnosti-i-mezhdunarodnykh-svyazey">Управление
                                                внешнеэкономических и международных связей<span
                                                    class="number_of_people">4</span></a></li>
                                        <li class="child_third"><a
                                                href="/page/upravlenie-marketinga-i-analiza">Управление
                                                маркетинга и анализа<span class="number_of_people">4</span></a></li>
                                        <li class="child_third"><a
                                                href="/page/otdel-po-svyazyam-s-obshchestvennostyu-i-smi">Отдел по
                                                связям с
                                                общественностью и СМИ<span class="number_of_people">2</span></a></li>
                                        <li class="child_third"><a href="/page/otdel-perevodchikov">Отдел
                                                переводчиков<span class="number_of_people">4</span></a></li>
                                    </ul>
                                </li>
                                <li class="child_second"><a
                                        href="/page/otdel-bukhgalterskogo-ucheta-i-otchetnosti">Отдел
                                        бухгалтерского учета и отчетности<span class="number_of_people">2</span></a>
                                    <ul class="treee_second_inner">
                                        <li class="child_third"><a href="/page/yuridicheskoe-byuro">Юридическое
                                                бюро<span class="number_of_people">2</span></a></li>
                                        <li class="child_third"><a href="/page/otdel-kadrov">Отдел кадров<span
                                                    class="number_of_people">2</span></a></li>
                                        <li class="child_third"><a href="/page/sluzhba-vnutrenney-bezopasnosti">Служба
                                                внутренней безопасности<span class="number_of_people">2</span></a></li>
                                        <li class="child_third"><a
                                                href="/page/upravlenie-ekspertizy-dogovorov">Управление
                                                экспертизы договоров<span class="number_of_people">3</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </ul>
                    </div>

                </div>
            </div>
    </section>


</main>


<!--=include footer.html -->