<!--=include second_header.html -->

<main class="main">
    <section class="section__header">
        <div class="container">
            <p class="section__header-text">
                Главная/Организационная структура
            </p>
            <h2 class="section__header-title">
                Организационная структура
            </h2>
        </div>
    </section>
    <section class="page">
        <div class="container">
            <div class="page__inner">

                <div>
                    <div class="page__avatar">
                        <img src="images/user.jpg" alt="">
                    </div>
                    <div>
                        <h2>
                            ЗУФАРОВ БЕХЗОД АЛИШЕРОВИЧа
                        </h2>
                        <p>Директор</p>
                        <p><br></p>
                        <p>Родился в1987 году в городе Ташкенте.</p>
                        <p>В 2007 году получил степень бакалавра, а в 2009 году степень магистра Ташкентского
                            государственного экономического университета.&nbsp;</p>
                        <p>Трудовую деятельность начал в 2006 году.</p>
                        <p>С 2006 по 2007 годы работал экономистом отдела маркетинга Юнусабадского районного отдела
                            народного образования.</p>
                        <p>С 2008 по 2012 годы - ведущий специалист, главный специалист, и.о. начальника отдела
                            экспертизы
                            инвестиционных проектов Главного управления мониторинга инвестиционных предложений и
                            экспертизы
                            инвестиционных проектов и контрактов Министерства внешних экономических связей, инвестиций и
                            торговли Республики Узбекистан.</p>
                        <p>С 2012 по 2015 годы - заместитель генерального директора Государственного предприятия РХВО
                            (республиканское хозрасчетное внешнеэкономическое объединение) «INTERSERVIS» – исполняющий
                            обязанности главного менеджера по управлению гостиничным комплексом «International Hotel
                            Tashkent» при Министерстве внешних экономических связей, инвестиций и торговли Республики
                            Узбекистан.</p>
                        <p>С 2015 по 2016 годы - исполняющий обязанности генерального директора Государственного
                            предприятия
                            РХВО «INTERSERVIS» при Министерстве внешних экономических связей, инвестиций и торговли
                            Республики Узбекистан.</p>
                        <p>С 2016 - 2017 годы - Председатель правления АО «Международный Бизнес Центр» при Министерстве
                            внешних экономических связей, инвестиций и торговли Республики Узбекистан.</p>
                        <p>Также с 2016 - 2017 годы - Генеральный директор Государственного предприятия РХВО
                            «INTERSERVIS»
                            при Министерстве внешних экономических связей, инвестиций и торговли Республики Узбекистан
                            (на
                            замещающей основе).</p>
                        <p>С 2017-2018 годы - Председатель правления АО «Международный Бизнес Центр» при Государственном
                            комитете по инвестициям.</p>
                        <p>Также с 2017-2018 годы - Генеральный директор Государственного предприятия РХВО «INTERSERVIS»
                            при
                            Государственном комитете по инвестициям (на замещающей основе).</p>
                        <p>С 2018-2019 годы - Генеральный директор ООО «HB Management Services».</p>
                        <p class="ql-align-justify">С 2019-2023 годы – первый заместитель Генерального Директора ООО
                            «Samarkand Touristic Centre</p>
                        <p>С 2023-2023 годы - исполнительный Директор ООО «Samarkand Touristic Centre».</p>
                        <p class="ql-align-justify">С октября 2023 года по настоящее время - Директор ГУП «InterForum»
                            при
                            Администрации Президента Республики Узбекистан.</p>
                        <p class="ql-align-justify"><br></p>
                        <p class="ql-align-justify"><strong>Тел:</strong> <span style="color: rgb(34, 34, 34);">+998
                                55-508-07-00</span></p>
                        <p class="ql-align-justify"><strong style="color: rgb(34, 34, 34);">Почта: </strong><span
                                style="color: rgb(34, 34, 34);">b</span>.zufarov@interforum.uz</p>
                        <p><br></p>
                    </div>
                </div>


            </div>
        </div>
    </section>


</main>


<!--=include footer.html -->